.service {
  $self: &;

  @include media(md) {
    display: flex;
  }

  &--reverse {
    @include media(md) {
      flex-direction: row-reverse;

      #{$self}__main {
        padding-left: 0;
        padding-right: 40px;
      }
    }
  }

  &__image {
    @include media(md) {
      width: 40%;
      flex-shrink: 0;
    }

    @include media(lg) {
      width: 460px;
    }

    img {
      @include image-cover;
    }
  }

  &__main {
    padding: 40px 20px;

    @include media(md) {
      padding: 40px;
      padding-right: 0;
      align-self: center;
    }
  }

  &__title {
    margin: 0 0 20px;
    font-family: $font-family--secondary;
    font-size: 20px;
    font-weight: 400;
    color: $color-blue;
    text-transform: uppercase;

    @include media(sm) {
      font-size: 22px;
    }
  }

  &__subtitle {
    margin: 0 0 20px;

    @include media(sm) {
      //font-size: 40px;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 1.866666666666667;
  }
}
