extends ../templates/main

block variables
  -
    const page = {
      title: 'Секреты хорошего настроения на работе',
      isHome: false,
      section: 3,
      order: 3.33,
    };

    const bc = [{text: page.title}];

block content
  article.post
    .post__container.container
      header.post__header
        .post__image
          img(src="images/posts/post-33.webp", width="1080" height="1620", alt="")
        h1.post__title Секреты хорошего настроения на работе.
        .post__meta
          time.post__date.date(datetime="2020-05-31") 31 мая 2020 г.
          .post-preview__duration.duration 1 мин. чтения
      .post__main
        .post__text
          p Нужно научиться улыбаться, несмотря на сонливость или совершенно "неулыбчивое" настроение😉

          p Постарайтесь не принимать близко к сердцу сложные ситуации на работе - негативные эмоции не нужно пропускать через себя. Попытайтесь взглянуть на проблемную ситуацию иначе, попробуйте мысленно накидать пару вариантов, как исправить это😊

          p Верьте в себя и настройтесь на хороший день😎

          p С таким настроением у Вас замечательно пройдет любой рабочий день.

          p ____________________________________
          p Только вперед и вверх!
          p Seulement vers l'avant et vers le haut!


      footer.post__footer
        .ya-share2(data-curtain, data-size="s", data-shape="round", data-color-scheme="blackwhite", data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,whatsapp")

  include ../modules/popular
