extends ../templates/main

block variables
  -
    const page = {
      title: 'Причины поиска нового места работы',
      isHome: false,
      section: 3,
      order: 3.07,
    };

    const bc = [{text: page.title}];

block content
  article.post
    .post__container.container
      header.post__header
        .post__image
          img(src="images/posts/post-7.webp", width="1100" height="1650", alt="")
        h1.post__title Причины поиска нового места работы.
        .post__meta
          time.post__date.date(datetime="2020-07-19") 19 июл. 2020 г.

          .post-preview__duration.duration 1 мин. чтения
      .post__main
        .post__text
          p Список причин того, что Вы решили трудоустроиться или сменить старую работу на новую, может быть огромным, даже бесконечным. Ими могут быть: нехватка свободного времени или, наоборот, его избыток, нехватка денежных средств для комфортного проживания, мечты о продвижении вверх по карьерной лестнице, желание добиться поставленных целей, мечты о саморазвитии и многие другие факторы, влияющие на ваше стремление работать.



          p Имеет место вопрос о причинах поиска новой работы в анкете, которую, скорее всего, Вам предложат заполнить на собеседовании. В этом случае Вы можете самостоятельно проанализировать свой поступок, понять для себя, почему же Вы хотите работать, зачем Вы пришли на собеседование. Главное, использовать лаконичные и грамотные фразы. На каждый случай можно заучить шаблонные ответы, именно они помогут легко выйти из ситуации.


          p Причина поиска новой работы может быть разной, но работодателю не обязательно знать об истинных причинах, ему важно слышать, что человек пришел работать и стремится к повышению как в должности, так и в знаниях и опыте.


          p А вот как обратить нелепые фразы в четкие выражения в Вашем резюме, чтобы быть правильно понятным рекрутерами и собственниками, мы с Вами можем проработать на нашей консультации.


      footer.post__footer
        .ya-share2(data-curtain, data-size="s", data-shape="round", data-color-scheme="blackwhite", data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,whatsapp")

  include ../modules/popular
