extends ../templates/main

block variables
  -
    const page = {
      title: 'А что, если...',
      isHome: false,
      section: 3,
      order: 3.15,
    };

    const bc = [{text: page.title}];

block content
  article.post
    .post__container.container
      header.post__header
        .post__image
          img(src="images/posts/post-15.webp", width="1080" height="1620", alt="")
        h1.post__title А что, если...
        .post__meta
          time.post__date.date(datetime="2020-05-31") 31 мая 2020 г.
          .post-preview__duration.duration 1 мин. чтения
      .post__main
        .post__text
          p Несмотря на то, что многие не любили в школе математику, всё равно продолжают в жизни решать уравнения. Создавать и пытаться их решать. Добавляют условные данные, какие-то данные обозначают значением "Х", какие-то - "У".

          p Самое любимое условие - "ЕСЛИ" "...." = "?" => ❌

          p Расшифровка: если случится 👎опка, я не буду знать, что делать. Поэтому лучше не начинать.

          p Проблема в том, решить задачу пытаются не с условием "ЕСЛИ", а с условием "лучше не начинать". Вместо того, чтобы продумать свои действия, когда случится "ЕСЛИ", доказывают теорему под названием "ПОЧЕМУ лучше не начинать". И всё уравнение летит коту под хвост. Его никогда не решить.

          p Гораздо проще отказаться от этих уравнений.

          p Только подумайте...

          p ✅ А что, если перестать оправдываться перед другими за свои поступки и желания?

          p ✅ А что, если вас не убьют за попытку?

          p ✅ А что, если у Вас миллиард шансов?

          p ✅ А что, если сделать что-то сумасшедшее? То, что давно хотели, но не решались.

          p ✅ А что, если перестать всё контролировать? Что, если просто однажды согласиться, что всё может быть не так, как Вы придумали, а иначе?

          p ✅ А что, если поставить себе цель обучиться новому навыку или даже профессии?

          p ✅ А что, если 👎опка всё же случится и станет самым знаковым событием в жизни?

          p Что, если "👎опка" - это лишь иллюзия?

          p ✅ А что, если перестать придумывать "ЕСЛИ"?

          p Выбор за Вами.

          p ____________________________________
          p Только вперед и вверх!
          p Seulement vers l'avant et vers le haut!


      footer.post__footer
        .ya-share2(data-curtain, data-size="s", data-shape="round", data-color-scheme="blackwhite", data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,whatsapp")

  include ../modules/popular
