extends ../templates/main

block variables
  -
    const page = {
      title: 'Одно слово',
      isHome: false,
      section: 3,
      order: 3.14,
    };

    const bc = [{text: page.title}];

block content
  article.post
    .post__container.container
      header.post__header
        .post__image
          img(src="images/posts/post-14.webp", width="1080" height="1620", alt="")
        h1.post__title Одно слово.
        .post__meta
          time.post__date.date(datetime="2020-05-31") 31 мая 2020 г.
          .post-preview__duration.duration 1 мин. чтения
      .post__main
        .post__text
          p Оглядываясь на свою жизнь и понимая, что есть одно слово.

          p Уже давно оно бьется о мнения других людей. Оно проверяется разными приятными и не очень ситуациями. Это слово близко многим по духу.

          p Это слово - "можно".

          p Можно менять свою деятельность и снова начинать с нуля.

          p Можно позволить себе уехать туда, куда хотите.

          p Можно экспериментировать и создавать новое.

          p Можно выглядеть неидеально.

          p Можно заниматься тем, что нравится.

          p Можно писать обо всём, о чём хочется написать.

          p Можно встать с кресла и пойти спать посреди дня.

          p Можно хотеть и говорить об этом.

          p Можно придумывать новые миры.

          p Можно перестать ограничивать себя словами.

          p Можно мечтать.

          p Можно исполнять мечты.

          p Можно радоваться просто так.

          p Вам всё это можно😀

          p Кто бы что не говорил😎

          p Только начиная с этого слова, можно сделать свою жизнь яркой, богатой, интересной😉 Оторваться от колеса, в которой бегают хомячки, открыть клетку изнутри и выйти в этот полный приключений и опасности мир😁

          p Можно!

          p И Вам тоже! 🤓

          p ____________________________________
          p Только вперед и вверх!
          p Seulement vers l'avant et vers le haut!


      footer.post__footer
        .ya-share2(data-curtain, data-size="s", data-shape="round", data-color-scheme="blackwhite", data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,whatsapp")

  include ../modules/popular
