extends ../templates/main

block variables
  -
    const page = {
      title: 'Жалость vs любовь к себе',
      isHome: false,
      section: 3,
      order: 3.39,
    };

    const bc = [{text: page.title}];

block content
  article.post
    .post__container.container
      header.post__header
        .post__image
          img(src="images/posts/post-39.webp", width="1080" height="1620", alt="")
        h1.post__title Жалость vs любовь к себе.
        .post__meta
          time.post__date.date(datetime="2020-05-31") 31 мая 2020 г.
          .post-preview__duration.duration 1 мин. чтения
      .post__main
        .post__text
          p Как различить?

          p Эти понятия с виду кажутся похожими. Зачастую люди ошибочно принимают жалость к себе за любовь. Они уверены, что любят себя, но картина жизни говорит об обратном.

          p Причины, что вызывают чувство жалости к себе:

          ol
            li Воздушные замки;
            li Склонность к накручиванию;
            li Нет твёрдости характера в тяжёлых условиях;
            li Манипулирование;
            li Зависимость от чужого мнения;
            li Неосознанность.

          p Самая главная причина, по которой люди никак не избавятся от чувства жалости к себе, - неосознанность. Они действительно не осознают, что делают и как это на них влияет🤔Потому что их фокус внимания направлен во внешний мир🙄Естественно, судить они будут именно его😏 Себя ведь они не могут судить, ибо не наблюдают за собой так пристально, как за другими😁


      footer.post__footer
        .ya-share2(data-curtain, data-size="s", data-shape="round", data-color-scheme="blackwhite", data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,whatsapp")

  include ../modules/popular
