extends ../templates/main

block variables
  -
    const page = {
      title: 'Критерии добросовестного работодателя',
      isHome: false,
      section: 3,
      order: 3.36,
    };

    const bc = [{text: page.title}];

block content
  article.post
    .post__container.container
      header.post__header
        .post__image
          img(src="images/posts/post-36.webp", width="1080" height="1620", alt="")
        h1.post__title Критерии добросовестного работодателя.
        .post__meta
          time.post__date.date(datetime="2020-05-31") 31 мая 2020 г.
          .post-preview__duration.duration 1 мин. чтения
      .post__main
        .post__text
          p Бывают в жизни такие ситуации, когда человек впервые устраивается на работу или вынужден ее менять в поисках лучшей. Помните, что не только будущий работодатель выбирает сотрудника, но и Вы, как будущий сотрудник, выбираете работодателя. По каким критериям выбирать работодателя, чтобы не поменять шило на мыло?😁

          p 1️⃣ Точность предъявляемых требований;

          p 2️⃣ Открытость информации;

          p 3️⃣ Организация работы в соответствии со статьями Т.К. РФ;

          p 4️⃣ Выплата "прозрачной" зарплаты;

          p 5️⃣ Заинтересованность в хороших специалистах;

          p 6️⃣ Забота о коллективе.

          p Пусть Ваши поиски работы будут удачными, и Вам встречаются только добросовестные работодатели🤓
          p ____________________________________
          p Только вперед и вверх!
          p Seulement vers l'avant et vers le haut!


      footer.post__footer
        .ya-share2(data-curtain, data-size="s", data-shape="round", data-color-scheme="blackwhite", data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,whatsapp")

  include ../modules/popular
