extends ../templates/main

block variables
  -
    const page = {
      title: 'Продолжаю рубрику неубедительных причин держаться за плохую работу',
      isHome: false,
      section: 3,
      order: 3.38,
    };

    const bc = [{text: page.title}];

block content
  article.post
    .post__container.container
      header.post__header
        .post__image
          img(src="images/posts/post-38.webp", width="1100" height="1650", alt="")
        h1.post__title Продолжаю рубрику неубедительных причин держаться за плохую работу.
        .post__meta
          time.post__date.date(datetime="2020-05-31") 31 мая 2020 г.
          .post-preview__duration.duration 1 мин. чтения
      .post__main
        .post__text
          p Признак - ощущение бесполезности.

          p Те, кто не видят смысла в своей работе, не верят, что приносят пользу, а считают дни от зарплаты до аванса и грезят отпуском, вряд ли будут чувствовать себя комфортно в компании. Если должность хорошо оплачивается, а Вы взяли ипотеку, то, возможно, увольнение и стоит отложить. Но отсутствие мотивации и понимания собственной значимости - верные знаки, что настал момент искать другой способ зарабатывать деньги😎

          p Как понять, что Ваши отношения с работой себя исчерпали, и пора подумать о раздельном будущем? Вы почувствуете это по отсутствию интереса. Все, что Вас вдохновляло, все, что нравилось, задачи, которые казались интересными - это все начнет вызывать скуку и тоску. Даже зарплата и дополнительные бонусы покажутся уже не такими заманчивыми😁

          p Вот и повод задуматься😉

          p ____________________________________
          p Только вперед и вверх!
          p Seulement vers l'avant et vers le haut!


      footer.post__footer
        .ya-share2(data-curtain, data-size="s", data-shape="round", data-color-scheme="blackwhite", data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,whatsapp")

  include ../modules/popular
