extends ../templates/main

block variables
  -
    const page = {
      title: 'Мыслеформы',
      isHome: false,
      section: 3,
      order: 3.03,
    };

    const bc = [{text: page.title}];

block content
  article.post
    .post__container.container
      header.post__header
        .post__image
          img(src="images/posts/post-3.webp", width="1080" height="1620", alt="")
        h1.post__title Мыслеформы
        .post__meta
          time.post__date.date(datetime="2021-12-28") 28 дек. 2021 г.
          .post-preview__duration.duration 1 мин. чтения
      .post__main
        .post__text
          p 1. Счастье - внутри. Мы тратим слишком много времени на поиски одобрения и утешения со стороны. И всегда оказывается, что не там ищем. Загляните внутрь.

          p 2. Будьте благодарны за все. За хорошее, за плохое, за ужасное. Жизнь сама по себе - это бесценный дар. А удовольствие и боль - это часть нашего пути.

          p 3. Измените восприятие и Ваша жизнь изменится. Когда чувствуете страх, злость, обиду, просто взгляните на ситуацию под другим углом.

          p 4. Невозможно осчастливить всех, оставаясь верным себе. Но все же лучше рискнуть и оказаться непонятым, чем быть любимым, но притворяться тем, кем не являеетесь на самом деле.

          p 5. Мир вокруг - это зеркало. То, что мы любим в других - это отражение того, что мы любим в себе. То, что нас огорчает в других - это индикатор того, на что нам нужно обратить внимание в самих себе.

          p 6. Каждый человек появляется в нашей жизни с какой-то целью. А мы уже сами решаем, учиться ли на уроках, которые он нам преподает или нет. Чем хуже его роль в нашей жизни, тем серьезнее урок. Мотайте на ус.

          p 7. Верьте. Просто знайте, что в самые тяжелые времена Вселенная подставит плечо и все будет в порядке.


      footer.post__footer
        .ya-share2(data-curtain, data-size="s", data-shape="round", data-color-scheme="blackwhite", data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,whatsapp")

  include ../modules/popular
