extends ../templates/main

block variables
  -
    const page = {
      title: 'La publicité',
      isHome: false,
      section: 3,// Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4
      order: 3.01,// Для каждой страницы уникален. Номер смотреть в файле pug/templates/vars.pug в массивах с пунктами меню
    };

    const bc = [{text: page.title}];

block content
  article.post
    .post__container.container
      header.post__header
        .post__image
          img(src="images/posts/post-1.jpg", width="1100" height="1375", alt="")
        h1.post__title La publicité
        .post__meta
          time.post__date.date(datetime="2022-02-17") 17 февраля
          .post-preview__duration.duration 1 мин. чтения
      .post__main
        .post__text
          p КАК НАЙТИ РАБОТУ.
          p ПЯТЬ ШАГОВ К УСПЕХУ:
          ol
            li Профессиональное резюме;
            li Сопроводительные письма;
            li Алгоритм поиска работы;
            li Сайты по поиску работы;
            li Индивидуальная консультация по вопросам.

          p ОБРАЩАЙТЕСЬ.

          p 3935+ ЛЮДЕЙ УЖЕ НАШЛИ РАБОТУ.

      footer.post__footer
        .ya-share2(data-curtain, data-size="s", data-shape="round", data-color-scheme="blackwhite", data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,whatsapp")

  include ../modules/popular
