extends ../templates/main

block variables
  -
    const page = {
      title: 'Идеальная работа',
      isHome: false,
      section: 3,
      order: 3.18,
    };

    const bc = [{text: page.title}];

block content
  article.post
    .post__container.container
      header.post__header
        .post__image
          img(src="images/posts/post-18.webp", width="1100" height="1650", alt="")
        h1.post__title Идеальная работа.
        .post__meta
          time.post__date.date(datetime="2020-05-31") 31 мая 2020 г.
          .post-preview__duration.duration 1 мин. чтения
      .post__main
        .post__text
          p А что для Вас идеальная работа?

          ol
            li Работа находится с Вашим домом;
            li Рабочий день начинается в 10 (а лучше в 11) и заканчивается в 6 (а ещё лучше 5);
            li При необходимости можно уйти пораньше и придти попозже;
            li При желании можно и вовсе отпроситься;
            li Начальник не вмешивается в Ваш рабочий процесс…
            li …кроме тех случаев, когда нужно поднять зарплату. Тогда он охотно идет навстречу;
            li Начальник вообще редко появляется на работе;
            li Начальник понимает, что Вы можете работать, лишь когда у вас есть вдохновение, поэтому не торопит с отчетом;
            li Несмотря на это, организация держится на плаву и даже процветает;
            li Ваша зарплата выше средней по рынку;
            li Тем не менее у Вас есть возможность на работе отсылать резюме в другие организации;
            li С рабочего компьютера можно скачивать фильмы и тут же просматривать их за рабочим столом;
            li У Вас на работе есть бесплатный чай, кофе и сахар;
            li Обеды тоже бесплатные;
            li Эти обеды не отменяют в кризис;
            li Если и отменили, то вскоре восстановили;
            li Также оплачивается проездной и фитнес;
            li Предоставляется медстраховка, включающая и стоматологию;
            li Стоматология распространяется и на курящих;
            li На работе бывают корпоративы;
            li На корпоративах раздают денежные премии и подарки;
            li Кабинет у Вас просторный, а народу сидит мало;
            li Диванчик в офисе для таких случаев очень удобен;
            li А коллеги, если что, помогут с отчетом;
            li Несмотря на все вышесказанное, Вам ещё не наскучила Ваша идеальная работа.

          p ____________________________________
          p Только вперед и вверх!
          p Seulement vers l'avant et vers le haut!


      footer.post__footer
        .ya-share2(data-curtain, data-size="s", data-shape="round", data-color-scheme="blackwhite", data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,whatsapp")

  include ../modules/popular
