extends ../templates/main

block variables
  -
    const page = {
      title: 'Можно ли работать по двум трудовым книжкам',
      isHome: false,
      section: 3,
      order: 3.21,
    };

    const bc = [{text: page.title}];

block content
  article.post
    .post__container.container
      header.post__header
        .post__image
          img(src="images/posts/post-21.jpg", width="1080" height="1620", alt="")
        h1.post__title Можно ли работать по двум трудовым книжкам
        .post__meta
          time.post__date.date(datetime="2020-05-31") 31 мая 2020 г.
          .post-preview__duration.duration 1 мин. чтения
      .post__main
        .post__text
          p Желая больше заработать, некоторые работники заводят сразу две трудовые книжки. Прямого запрета на это в законе нет. Если оба документа подлинные, у работодателя нет оснований отказывать во внесении записей. Работа на полную ставку позволит зарабатывать больше. Однако есть один момент, который необходимо учесть.

          p При наличии у гражданина нескольких трудовых мест, одно из них будет основным, остальные же будут определяться как работа по совместительству. Отметка о том, основной или по совместительству является работа у конкретного работодателя, делается в трудовом договоре. Основная работа может определяться по приоритету зачисления в штат организации, то есть трудовое место, на которое гражданин устроился раньше, будет основной работой, а остальные - по совместительству. Либо совместительство определяется по времени занятости у конкретного работодателя. Та работа, на которую тратится большая часть трудового дня, и будет основной. Поскольку трудовая книжка - это документ в единственном экземпляре, при наличии у работника нескольких трудовых коллективов храниться она должна у работодателя по основному месту работы. При этом информация о работе по совместительству заносится в нее по желанию сотрудника, который в этом случае должен представить письменные доказательства совмещения в виде копии приказа о приеме на другую работу и трудового договора.

          p Делайте все правильно.

          p ____________________________________
          p Только вперед и вверх!
          p Seulement vers l'avant et vers le haut!


      footer.post__footer
        .ya-share2(data-curtain, data-size="s", data-shape="round", data-color-scheme="blackwhite", data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,whatsapp")

  include ../modules/popular
