extends ../templates/main

block variables
  -
    const page = {
      title: 'Как найти свою реализацию',
      isHome: false,
      section: 3,
      order: 3.08,
    };

    const bc = [{text: page.title}];

block content
  article.post
    .post__container.container
      header.post__header
        .post__image
          img(src="images/posts/post-8.webp", width="1100" height="1650", alt="")
        h1.post__title Как найти свою реализацию.
        .post__meta
          time.post__date.date(datetime="2020-07-17") 17 июл. 2020 г.

          .post-preview__duration.duration 1 мин. чтения
      .post__main
        .post__text
          p Заниматься тем, что нравится и легко зарабатывать - это голубая мечта многих, но в голове часто - строгий запрет.

          p Понимать свои желания и знать, куда двигаться - это в системе базовых чувств.


          p Но если Вы их не ощущаете, то их давно выключили, запретили, и внутренний компас сломался, тогда сложно понять направление. Если и найдете, то не факт, что имеете право воспользоваться.


          p Это советское воспитание, и убеждения оттуда.


          p Будут другие ориентиры, чужие цели, авторитет в других людях и еще много критериев, которые блокирует легкость движения по своей жизни.


          p И в каждом случае есть главный корень, с которого стоит начать, чтобы быстрее продвинуться. Важно взять ресурс из истории, чтобы она перестала быть травмой и стала опытом.

          p Нужно понять как она послужила в масштабе жизни и какие качества раскрыла. И отправить туда благодарность.

          p Благодарность - очень сильная энергия, и если получается найти эти сильные уроки и выводы оттуда,  то благодарность будет полная и искренняя, от всего сердца.

          p И такая энергия выводит очень быстро на новый уровень.

          p Действуйте!


      footer.post__footer
        .ya-share2(data-curtain, data-size="s", data-shape="round", data-color-scheme="blackwhite", data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,whatsapp")

  include ../modules/popular
