extends ../templates/main

block variables
  -
    const page = {
      title: 'Подходы к сотрудникам',
      isHome: false,
      section: 3,
      order: 3.11,
    };

    const bc = [{text: page.title}];

block content
  article.post
    .post__container.container
      header.post__header
        .post__image
          img(src="images/posts/post-11.jpg", width="1100" height="1650", alt="")
        h1.post__title Подходы к сотрудникам.
        .post__meta
          time.post__date.date(datetime="2020-06-02") 2 июн. 2020 г.
          .post-preview__duration.duration 2 мин. чтения
      .post__main
        .post__text
          p Есть три подхода к сотрудникам:


          p 1️⃣ Оптический.<br>

            | Работодатели обычно формулируют его так: "Начинайте работать, мы посмотрим на то, как Вы это делаете, и по результатам договоримся об оплате и ваших обязанностях". Такие руководители исходят из того, что конкуренция за рабочее место среди специалистов с нужной подготовкой и квалификацией велика, поэтому можно легко заменить один кадр другим. Для кандидата же это выглядит так, будто компания в нём не заинтересована и вообще ненадежна, склонна к обману.


          p 2️⃣ Армейский. <br>

            | Этот подход к адаптации персонала описывается пословицей "Тяжело в учении, легко в бою". Во время испытательного срока сотруднику никак не помогают адаптироваться и войти в курс дела, могут даже не выдать необходимые материалы и нарочно создавать препятствия в работе. В ряде случаев это делается для того, чтобы можно было легко выгнать специалиста, сказав, что он не справился, и взять другого новичка. Но, как правило, в основном это вызвано стремлением найти самого лучшего кандидата на вакансию, а не пользоваться неоплачиваемым трудом людей на испытательном сроке. Однако такие методы в любом случае деструктивны. Строгая дисциплина и жесткие методы для персонала оправданы только тогда, когда они применяются и ко всем остальным работникам тоже и являются стилем управления в компании.


          p 3️⃣ Партнерский. <br>

            | Это наиболее зрелый и цивилизованный подход к найму и адаптации персонала. Он практикуется в тех организациях, где осознают важность быстроты проверки кандидата на соответствие должности и стремятся сократить издержки, связанные с поиском и подготовкой кадров. Опытные наниматели понимают, что найти готового идеального работника практически невозможно, придется иметь дело с реальностью, а не только со своими ожиданиями, и готовы выращивать необходимых специалистов, вкладываясь в их адаптацию и выбирая подходящие методы для этого.


          p Умейте увидеть это на первом собеседовании.

          p ____________________________________
          p Только вперед и вверх!
          p Seulement vers l'avant et vers le haut!


      footer.post__footer
        .ya-share2(data-curtain, data-size="s", data-shape="round", data-color-scheme="blackwhite", data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,whatsapp")

  include ../modules/popular
