extends ../templates/main

block variables
  -
    const page = {
      title: 'Ответ на отклик работодателю',
      isHome: false,
      section: 3,
      order: 3.29,
    };

    const bc = [{text: page.title}];

block content
  article.post
    .post__container.container
      header.post__header
        .post__image
          img(src="images/posts/post-29.webp", width="1080" height="1620", alt="")
        h1.post__title Ответ на отклик работодателю.
        .post__meta
          time.post__date.date(datetime="2020-05-31") 31 мая 2020 г.
          .post-preview__duration.duration 1 мин. чтения
      .post__main
        .post__text
          p Поиск новой работы - это обычное, хоть и не самое приятное событие в жизни каждого человека.

          p Рабочее место чаще или реже меняют и опытные профи, и начинающие специалисты. Каждый раз этот процесс сопровождается целой цепочкой действий, включающей поиск информации, рассмотрение предложенных вакантных должностей, соотнесение за и против, окончательный выбор и принятие решения о перемене места работы или даже должности😁

          p Вакансию или объявление работодателя о поиске нового сотрудника в компанию, можно получить из самых разных источников. Сегодня самый популярный из них - это специализированные интернет-сайты, которыми пользуются и работодатели, и соискатели. Это доступный и достаточно обширный канал связи между двумя сторонами рынка труда, заинтересованными друг в друге. Но далеко не единственный😉

          p Обращайте внимание и прислушивайтесь сразу к нескольким источникам😀

          p Какой бы источник информации не оказался наиболее продуктивным в Вашем конкретном случае, следующим шагом должен стать сигнал работодателю в Вашей заинтересованности🙂Лучший способ продемонстрировать свой интерес к вакансии - незамедлительно составить и отправить ответ😎
          p ____________________________________
          p Только вперед и вверх!
          p Seulement vers l'avant et vers le haut!


      footer.post__footer
        .ya-share2(data-curtain, data-size="s", data-shape="round", data-color-scheme="blackwhite", data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,whatsapp")

  include ../modules/popular
