extends ../templates/main

block variables
  -
    const page = {
      title: 'Против тревоги',
      isHome: false,
      section: 3,
      order: 3.19,
    };

    const bc = [{text: page.title}];

block content
  article.post
    .post__container.container
      header.post__header
        .post__image
          img(src="images/posts/post-19.webp", width="1080" height="1620", alt="")
        h1.post__title Против тревоги
        .post__meta
          time.post__date.date(datetime="2020-05-31") 31 мая 2020 г.
          .post-preview__duration.duration 1 мин. чтения
      .post__main
        .post__text
          p ДВА ЛУЧШИХ СПОСОБА ПОБОРОТЬ ТРЕВОГУ.

          p Пока Вы под властью эмоций, они будут брать над Вами верх и Вы будете жертвой своих же эмоций. Следующие два способа помогут выпустить эмоции и настроить себя на позитивный лад.

          p 1. ДНЕВНИК ИЛИ КАРТОЧКИ ЭМОЦИЙ.

          p Заведите дневник эмоций. В конце или в течение дня заполняйте его следующим образом:

          ul
            li запишите эмоции, которые испытываете;
            li опишите ситуацию, которая вызвала эти чувства;
            li опишите мысли, которые вызывает эта ситуация;
            li напишите опровержения своим мыслям;
            li напишите эмоции после опровержений.


          p Если такой способ для вас слишком долгий, попробуйте использовать карточки эмоций. С одной стороны описываете мысли, которые вызывают негатив, а с другой - опровержения. Этот способ тоже работает, но первый будет эффективнее. Лучше использовать карточки, когда срочно нужно выплеснуть эмоции, а времени особо нет😉


          p 2. ВРЕМЯ НА ТРЕВОГУ.

          p Установите себе правило: тревожиться ТОЛЬКО в специально отведённое для этого время. Допустим, вечером, после работы, у Вас есть 10-20 минут на тревогу. Думайте о плохом, переживайте, волнуйтесь на протяжении всего этого времени. Ни на что не отвлекайтесь. Установите таймер и думайте. По истечению времени продумайте опровержения😉


          p Этот способ хорош тем, что Вы не прячетесь от своих чувств, не подавляете их, а даёте им выйти. К тому же, в течение дня Вас будет останавливать от дурных дум мысль, что у Вас ещё на это будет время, а пока нужно заняться другими задачами. А ещё Вы поймёте, что тревожиться 10-20 минут подряд очень сложно😁Мозг будет отвлекаться на другие вещи, а Вы снова направляйте внимание на тревожные мысли. Думайте, фантазируйте, пугайтесь, пока мысли не покажутся бредом и от них не затошнит. К концу отведённого времени Вы устанете думать о плохом😎


          p ____________________________________
          p Только вперед и вверх!
          p Seulement vers l'avant et vers le haut!


      footer.post__footer
        .ya-share2(data-curtain, data-size="s", data-shape="round", data-color-scheme="blackwhite", data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,whatsapp")

  include ../modules/popular
