extends ../templates/main

block variables
  -
    const page = {
      title: 'Как убрать старые привычки',
      isHome: false,
      section: 3,
      order: 3.40,
    };

    const bc = [{text: page.title}];

block content
  article.post
    .post__container.container
      header.post__header
        .post__image
          img(src="images/posts/post-40.webp", width="1080" height="1620", alt="")
        h1.post__title Как убрать старые привычки.

        .post__meta
          time.post__date.date(datetime="2020-05-31") 31 мая 2020 г.
          .post-preview__duration.duration 1 мин. чтения
      .post__main
        .post__text
          p Привычки прилипчивы как банный лист. Осознаете, что так делать не надо, а тело или язык всё равно повторяет старое. Диссонанс.

          p Для того, чтобы начать работу с привычками, стоит понять как они вообще образуются.

          p Представьте заросли. В первый раз по ним идти сложно. А если пройтись несколько раз, появится небольшая дорожка и путь станет немного легче. После сотни раз дорога станет видна отчётливее. Если ходить по ней каждый день, то сложностей уже не возникнет. Так образуются нейронные связи😎

          p Чем крепче нейронная связь, тем крепче привычка. Её легко повторять и иногда это доходит до автоматизма. Мы перестаём осознавать свои действия😊

          p В нашем мозге тысячи таких протоптанных дорожек. Какие-то из них установлены по умолчанию и не подлежат уничтожению, ибо для нас это будет опасно. Какие-то - приобоетенные и с ними можно работать.

          p Чтобы избавиться от привычки, нужно перестать ходить по одной и той же дорожке. Так рвутся старые нейронные связи, отвечающие за старые привычки.

          p Перед тем, как приступить к уничтожению, нужно чётко и ясно осознать, что отныне не будет ничего старого. Нельзя делать одни и те же вещи и надеяться на другой результат. Всё должно быть по-новому. В этом вся простота и сложность одновременно☺️

          p Чтобы уничтожить старую дорожку, нужно построить новую и теперь ходить только по ней. То же самое с нейронными связями: строим новые и пользуемся только ими. Через время старая связь разрушится.

          p Будет сложно. Точно также, как впервые идти по зарослям. Но никто и не обещает лёгкое начало. Лёгко становится после многократных повторений😏

          p Если не готовы к переменам, тогда не стоит морочить себе голову и пытаться убрать старые привычки. Не получится.

          p Отказаться от старого - получить новое. Этот закон продолжает работать бесперебойно🤓

          p ____________________________________
          p Только вперед и вверх!
          p Seulement vers l'avant et vers le haut!


      footer.post__footer
        .ya-share2(data-curtain, data-size="s", data-shape="round", data-color-scheme="blackwhite", data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,whatsapp")

  include ../modules/popular
