.nav-button {
  display: block;
  width: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  appearance: none;
  cursor: pointer;

  svg {
    @include image;
    stroke: $color-default-black;
    transition: stroke 0.3s ease;
  }

  @include hover {
    svg {
      stroke: lighten($color-default-black, 50%);
    }
  }

  &:active {
    opacity: 0.7;
  }
}
