-
  const URLS = {
    home: 'index.html',
    services: 'services.html',
    blog: 'blog.html',
    contacts: 'contacts.html',
    post: 'post.html'
  };

  const MENU = [
    {text: 'Главная', url: URLS.home, section: 1},
    {text: 'Услуги', url: URLS.services, section: 2},
    {text: 'Блог', url: URLS.blog, section: 3},
    {text: 'Контакты', url: URLS.contacts, section: 4}
  ];


  const SERVICES_LIST = [
    {
      image: {name: 's1', width: '554', height: '300'},
      title: 'Анализ резюме и позиционирования',
      subtitle: 'Помогаю достичь цели',
      text: 'При составлении резюме и сопроводительного письма помогаю идти в ногу со временем и оставаться конкурентоспособными в условиях стремительных изменений. Резюме делаю кратко, сухо, по факту. Так читают руководители и собственники компаний. Готовность нового резюме с сопроводительным письмом - 24 ч. Вы направляете резюме по электронной почте в контактах, и я анализирую БЕСПЛАТНО.'
    },
    {
      image: {name: 's2', width: '554', height: '300'},
      title: 'Консультация по прохождению собеседований',
      subtitle: 'Рекомендации эксперта',
      text: 'Я люблю консалтинг, имею знания и навыки, которые выведут на новый уровень. После сотрудничества пройдете собеседования с рекрутерами, с руководителями высшего звена в компаниях. Горжусь тем, что помогаю клиентам изменять и совершенствовать модели поведения на собеседованиях за счет проведения консультаций.'
    },
    {
      image: {name: 's3', width: '554', height: '300'},
      title: 'Консультация по поиску работы зарубежом',
      subtitle: 'Проверено практикой',
      text: 'Если ищете направление для развития или требуется помощь в поиске работы за пределами России, буду полезен. У Вас получится двигаться вперед в условиях принятия смелых и мудрых решений. Обращайтесь и начнем действовать.'
    }
  ];

  const POPULAR_POSTS = [
    {
      image: {name: 'popular-1', width: '290', height: '362'},
      title: 'La publicité',
      url: '#'
    },
    {
      image: {name: 'popular-2', width: '290', height: '435'},
      title: 'Продолжаю рубрику неубедительных причин держаться за плохую работу',
      url: '#'
    },
    {
      image: {name: 'popular-3', width: '290', height: '435'},
      title: 'Мыслеформы',
      url: '#'
    }
  ];

  const REVIEWS = [
    {
      text: 'Валерий, добрый день! <br>Хотела Вам сказать, что я прошла собеседования и  вышла на работу в Финансовую группу БКС. <br>Спасибо Вам. Ваша помощь, Ваши советы, а особенно Ваша профессиональная оценка очень мне <br>помогли. И продолжают помогать, т.к. сомнения и самокритика преследуют каждый рабочий день)',
      author: 'А. В.'
    },
    {
      text: 'Я впечатлена. Вы правы, совсем другая подача. Спасибо большое!)))',
      author: 'Т. В.'
    },
    {
      text: 'Резюме посмотрел!!! Такая корова нужна самому!!! Огромное спасибо!!!',
      author: 'Ю. В.'
    },
    {
      text: 'Результат превзошел самые оптимистичные ожидания! Выход на работу топом через 3,5 недели <br>после волшебной смс. Спасибо за то, что делаете людей счастливее👍',
      author: 'Е. П.'
    },
    {
      text: 'Валерий, добрый день) я вышла на работу) ничего не делала) видимо, у Вас свойство чистить <br>каналы с Высшими) Спасибо огромное еще раз! Корректировки внесу сама, чтобы Вас не держать',
      author: 'А. В.'
    },
    {
      text: 'Всем доброго дня! <br>Я совершенно реальный персонаж и это не оплаченный отзыв! <br>Вкратце расскажу о нашем сотрудничестве: <br>Первый раз в своей рабочей карьере был вынужден искать работу через резюме. Составив его на свой лад-отправил на ХХ, однако отзывов не получал. Валерий сам вышел на меня и предложил подготовить резюме. В итоге я получил не только документ, соответствующий нынешним требованиям, но и подробнейшие рекомендации по поиску интересующей работы, прохождению собеседования и много других полезных для этого процесса советов. Отдельно оговорю, что речь шла о топовой должности, исходя из моего опыта. <br>На все мои вопросы были получены своевременные и профессиональные ответы. <br>И...вуаля...звонок от кадровика, три этапа собеседования в течение недели и...выход на работу! <br>Больше нечего добавить, разве что огромное спасибо за помощь!!! <br>Всем рекомендую!!!! Настоятельно!!!',
      author: 'Л. А.'
    },
    {
      text: 'Доброе утро! Вчера вечером разместила везде резюме, зарегистрировалась везде, где Вы посоветовали. И только что получила очень интересный звонок. Это потрясающе!',
      author: 'Д. М.'
    },
    {
      text: 'Валерий, очень приятно иметь дело с профессионалом. Спасибо Вам',
      author: 'М. В.'
    },
    {
      text: 'Добрый день. На данный момент с момента размещения нового резюме имею 2 оффера, помимо этого еще 3 собеседования (жду результат). Чем бы дело ни закончилось эффект от Вашей помощи потрясающий! Обязательно оставлю отзыв на Вашем сайте и буду рекомендовать саоим знаеомым.',
      author: 'С. А.'
    }
  ];

  const SERVICES = [
    {
      image: {name: 'service-1', width: '460', height: '600'},
      title: 'Анализ брендинга и позиционирования',
      subtitle: 'Рекомендации эксперта',
      text: 'Ищете приоритетное направление для развития бизнеса? Требуется помощь с планированием или реализацией проекта? Обращайтесь к нам за консультацией. Любая организация может двигаться вперед, осуществляя небольшие последовательные шаги, однако создание задела на будущее в условиях современной, быстро меняющейся жизни предполагает принятие смелых и мудрых решений.'
    },
    {
      image: {name: 'service-2', width: '460', height: '600'},
      title: 'Вводная консультация',
      subtitle: 'Развивайте свой бизнес',
      text: 'Мы изучаем, что делают организации, чтобы идти в ногу со временем и оставаться конкурентоспособными в условиях стремительных изменений, и анализируем, кому это удается лучше всего. Далее мы готовим стратегию, используя современные инструменты и различные ресурсы, чтобы оценить последствия каждого потенциального решения наших клиентов. Свяжитесь с нами, чтобы узнать больше об этой услуге'
    },
    {
      image: {name: 'service-3', width: '460', height: '600'},
      title: 'Сессия стратегического планирования',
      subtitle: 'Помогаем достичь цели',
      text: 'Благодаря многолетнему опыту в консалтинге и соответствующим знаниям и навыкам, наши специалисты готовы вывести ваш бизнес на новый уровень. Компания «Консультация по поиску работы» успешно реализует проекты по трансформации процессов и стратегий, а также организации в целом. Мы гордимся тем, что у нас есть возможность помогать клиентам изменять и совершенствовать модели ведения бизнеса'
    },
  ];

  const POSTS_FILTERS = [
    {text: 'Все посты', category: 'all'},
    {text: 'РУБРИКА "ПРИЧИНЫ"', category: 'reasons'},
    {text: 'LA PUBLICITÉ', category: 'la'}
  ];

  const POSTS = [
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: 'La publicité',
      text: 'КАК НАЙТИ РАБОТУ. ПЯТЬ ШАГОВ К УСПЕХУ: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Алгоритм поиска работы; 4. Сайты по...',
      url: 'post-1.html',
      date: {text: '17 февр.', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-2', width: '690', height: '1035'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'Если работа не соответствует моральным принципам и убеждениям, вкусам или особенностям Вашего характера вы вряд ли добьетесь успеха в...',
      url: 'post-2.html',
      date: {text: '28 янв.', attr: '2022-01-28'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-3', width: '690', height: '1035'},
      title: 'МЫСЛЕФОРМЫ',
      text: '1. Счастье - внутри. Мы тратим слишком много времени на поиски одобрения и утешения со стороны. И всегда оказывается, что не там ищем....',
      url: 'post-3.html',
      date: {text: '28 дек. 2021 г.', attr: '2021-12-28'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-4', width: '690', height: '1035'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'Изменения в характере работы. Например, добавление новых обязанностей без повышения зарплаты или смена графика. В современных условиях...',
      url: 'post-4.html',
      date: {text: '22 сент. 2021 г.', attr: '2021-09-22'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-5', width: '690', height: '1035'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'Часто высоко амбициозные сотрудники, хорошо владеющие аргументом, хотят быть замеченными руководством. Но бывает, что несмотря на его...',
      url: 'post-5.html',
      date: {text: '28 окт. 2021 г.', attr: '2021-10-28'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-6', width: '690', height: '1035'},
      title: 'КАК НАЙТИ РАБОТУ.',
      text: 'ПЯТЬ ШАГОВ К УСПЕХУ: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Алгоритм поиска работы; 4. Сайты по поиску работы; 5....',
      url: 'post-6.html',
      date: {text: '10 сент. 2021 г.', attr: '2021-09-10'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-7', width: '690', height: '1035'},
      title: 'ПРИЧИНЫ ПОИСКА НОВОГО МЕСТА РАБОТЫ.',
      text: 'ПРИЧИНЫ ПОИСКА НОВОГО МЕСТА РАБОТЫ.',
      url: 'post-7.html',
      date: {text: '19 июл. 2020 г.', attr: '2020-07-19'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-8', width: '690', height: '1035'},
      title: 'КАК НАЙТИ СВОЮ РЕАЛИЗАЦИЮ.',
      text: 'КАК НАЙТИ СВОЮ РЕАЛИЗАЦИЮ.',
      url: 'post-8.html',
      date: {text: '17 июл. 2020 г.', attr: '2020-07-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-9', width: '690', height: '1035'},
      title: 'КАК НАЙТИ РАБОТУ.',
      text: 'КАК НАЙТИ РАБОТУ. ПЯТЬ ШАГОВ К УСПЕХУ: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Алгоритм поиска работы; 4. Сайты по...',
      url: 'post-9.html',
      date: {text: '4 июн. 2020 г.', attr: '2020-07-04'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-10', width: '690', height: '862'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ. Новые знания и возможность развиваться делают работу насыщенной, а...',
      url: 'post-10.html',
      date: {text: '4 июн. 2020 г.', attr: '2020-07-04'},
      duration: '1 мин.',
      category: null
    },//////////////////////////
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: '',
      text: '',
      url: 'post-1.html',
      date: {text: '17 февр', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    //- {
    //-   image: {name: 'post-preview-1', width: '690', height: '862'},
    //-   title: '',
    //-   text: '',
    //-   url: 'post-1.html',
    //-   date: {text: '17 февр', attr: '2022-02-17'},
    //-   duration: '1 мин.',
    //-   category: null
    //- },
  ];
