-
  const URLS = {
    home: 'index.html',
    services: 'services.html',
    blog: 'blog.html',
    contacts: 'contacts.html',
    post: 'post.html'
  };

  const MENU = [
    {text: 'Главная', url: URLS.home, section: 1},
    {text: 'Услуги', url: URLS.services, section: 2},
    {text: 'Блог', url: URLS.blog, section: 3},
    {text: 'Контакты', url: URLS.contacts, section: 4}
  ];


  const SERVICES_LIST = [
    {
      image: {name: 's1', width: '554', height: '300'},
      title: 'Анализ резюме и позиционирования',
      subtitle: 'Помогаю достичь цели',
      text: 'При составлении резюме и сопроводительного письма помогаю идти в ногу со временем и оставаться конкурентоспособными в условиях стремительных изменений. Резюме делаю кратко, сухо, по факту. Так читают руководители и собственники компаний. Готовность нового резюме с сопроводительным письмом - 24 ч. Вы направляете резюме по электронной почте в контактах, и я анализирую БЕСПЛАТНО.'
    },
    {
      image: {name: 's2', width: '554', height: '300'},
      title: 'Консультация по прохождению собеседований',
      subtitle: 'Рекомендации эксперта',
      text: 'Я люблю консалтинг, имею знания и навыки, которые выведут на новый уровень. После сотрудничества пройдете собеседования с рекрутерами, с руководителями высшего звена в компаниях. Горжусь тем, что помогаю клиентам изменять и совершенствовать модели поведения на собеседованиях за счет проведения консультаций.'
    },
    {
      image: {name: 's3', width: '554', height: '300'},
      title: 'Консультация по поиску работы зарубежом',
      subtitle: 'Проверено практикой',
      text: 'Если ищете направление для развития или требуется помощь в поиске работы за пределами России, буду полезен. У Вас получится двигаться вперед в условиях принятия смелых и мудрых решений. Обращайтесь и начнем действовать.'
    }
  ];

  const POPULAR_POSTS = [
    {
      image: {name: 'popular-1', width: '290', height: '362'},
      title: 'La publicité',
      url: '#'
    },
    {
      image: {name: 'popular-2', width: '290', height: '435'},
      title: 'Продолжаю рубрику неубедительных причин держаться за плохую работу',
      url: '#'
    },
    {
      image: {name: 'popular-3', width: '290', height: '435'},
      title: 'Мыслеформы',
      url: '#'
    }
  ];

  const REVIEWS = [
    {
      text: 'Валерий, добрый день! <br>Хотела Вам сказать, что я прошла собеседования и  вышла на работу в Финансовую группу БКС. <br>Спасибо Вам. Ваша помощь, Ваши советы, а особенно Ваша профессиональная оценка очень мне <br>помогли. И продолжают помогать, т.к. сомнения и самокритика преследуют каждый рабочий день)',
      author: 'А. В.'
    },
    {
      text: 'Я впечатлена. Вы правы, совсем другая подача. Спасибо большое!)))',
      author: 'Т. В.'
    },
    {
      text: 'Резюме посмотрел!!! Такая корова нужна самому!!! Огромное спасибо!!!',
      author: 'Ю. В.'
    },
    {
      text: 'Результат превзошел самые оптимистичные ожидания! Выход на работу топом через 3,5 недели <br>после волшебной смс. Спасибо за то, что делаете людей счастливее👍',
      author: 'Е. П.'
    },
    {
      text: 'Валерий, добрый день) я вышла на работу) ничего не делала) видимо, у Вас свойство чистить <br>каналы с Высшими) Спасибо огромное еще раз! Корректировки внесу сама, чтобы Вас не держать',
      author: 'А. В.'
    },
    {
      text: 'Всем доброго дня! <br>Я совершенно реальный персонаж и это не оплаченный отзыв! <br>Вкратце расскажу о нашем сотрудничестве: <br>Первый раз в своей рабочей карьере был вынужден искать работу через резюме. Составив его на свой лад-отправил на ХХ, однако отзывов не получал. Валерий сам вышел на меня и предложил подготовить резюме. В итоге я получил не только документ, соответствующий нынешним требованиям, но и подробнейшие рекомендации по поиску интересующей работы, прохождению собеседования и много других полезных для этого процесса советов. Отдельно оговорю, что речь шла о топовой должности, исходя из моего опыта. <br>На все мои вопросы были получены своевременные и профессиональные ответы. <br>И...вуаля...звонок от кадровика, три этапа собеседования в течение недели и...выход на работу! <br>Больше нечего добавить, разве что огромное спасибо за помощь!!! <br>Всем рекомендую!!!! Настоятельно!!!',
      author: 'Л. А.'
    },
    {
      text: 'Доброе утро! Вчера вечером разместила везде резюме, зарегистрировалась везде, где Вы посоветовали. И только что получила очень интересный звонок. Это потрясающе!',
      author: 'Д. М.'
    },
    {
      text: 'Валерий, очень приятно иметь дело с профессионалом. Спасибо Вам',
      author: 'М. В.'
    },
    {
      text: 'Добрый день. На данный момент с момента размещения нового резюме имею 2 оффера, помимо этого еще 3 собеседования (жду результат). Чем бы дело ни закончилось эффект от Вашей помощи потрясающий! Обязательно оставлю отзыв на Вашем сайте и буду рекомендовать саоим знаеомым.',
      author: 'С. А.'
    }
  ];

  const SERVICES = [
    {
      image: {name: 'service-1', width: '460', height: '600'},
      title: 'Анализ брендинга и позиционирования',
      subtitle: 'Рекомендации эксперта',
      text: 'Ищете приоритетное направление для развития бизнеса? Требуется помощь с планированием или реализацией проекта? Обращайтесь к нам за консультацией. Любая организация может двигаться вперед, осуществляя небольшие последовательные шаги, однако создание задела на будущее в условиях современной, быстро меняющейся жизни предполагает принятие смелых и мудрых решений.'
    },
    {
      image: {name: 'service-2', width: '460', height: '600'},
      title: 'Вводная консультация',
      subtitle: 'Развивайте свой бизнес',
      text: 'Мы изучаем, что делают организации, чтобы идти в ногу со временем и оставаться конкурентоспособными в условиях стремительных изменений, и анализируем, кому это удается лучше всего. Далее мы готовим стратегию, используя современные инструменты и различные ресурсы, чтобы оценить последствия каждого потенциального решения наших клиентов. Свяжитесь с нами, чтобы узнать больше об этой услуге'
    },
    {
      image: {name: 'service-3', width: '460', height: '600'},
      title: 'Сессия стратегического планирования',
      subtitle: 'Помогаем достичь цели',
      text: 'Благодаря многолетнему опыту в консалтинге и соответствующим знаниям и навыкам, наши специалисты готовы вывести ваш бизнес на новый уровень. Компания «Консультация по поиску работы» успешно реализует проекты по трансформации процессов и стратегий, а также организации в целом. Мы гордимся тем, что у нас есть возможность помогать клиентам изменять и совершенствовать модели ведения бизнеса'
    },
  ];

  const POSTS_FILTERS = [
    {text: 'Все посты', category: 'all'},
    {text: 'РУБРИКА "ПРИЧИНЫ"', category: 'reasons'},
    {text: 'LA PUBLICITÉ', category: 'la'}
  ];

  const POSTS = [
    {
      image: {name: 'post-preview-1', width: '690', height: '862'},
      title: 'La publicité',
      text: 'КАК НАЙТИ РАБОТУ. ПЯТЬ ШАГОВ К УСПЕХУ: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Алгоритм поиска работы; 4. Сайты по...',
      url: 'post-1.html',
      date: {text: '17 февр.', attr: '2022-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-2', width: '690', height: '1035'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'Если работа не соответствует моральным принципам и убеждениям, вкусам или особенностям Вашего характера вы вряд ли добьетесь успеха в...',
      url: 'post-2.html',
      date: {text: '28 янв.', attr: '2022-01-28'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-3', width: '690', height: '1035'},
      title: 'МЫСЛЕФОРМЫ',
      text: '1. Счастье - внутри. Мы тратим слишком много времени на поиски одобрения и утешения со стороны. И всегда оказывается, что не там ищем....',
      url: 'post-3.html',
      date: {text: '28 дек. 2021 г.', attr: '2021-12-28'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-4', width: '690', height: '1035'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'Изменения в характере работы. Например, добавление новых обязанностей без повышения зарплаты или смена графика. В современных условиях...',
      url: 'post-4.html',
      date: {text: '22 сент. 2021 г.', attr: '2021-09-22'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-5', width: '690', height: '1035'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'Часто высоко амбициозные сотрудники, хорошо владеющие аргументом, хотят быть замеченными руководством. Но бывает, что несмотря на его...',
      url: 'post-5.html',
      date: {text: '28 окт. 2021 г.', attr: '2021-10-28'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-6', width: '690', height: '1035'},
      title: 'КАК НАЙТИ РАБОТУ.',
      text: 'ПЯТЬ ШАГОВ К УСПЕХУ: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Алгоритм поиска работы; 4. Сайты по поиску работы; 5....',
      url: 'post-6.html',
      date: {text: '10 сент. 2021 г.', attr: '2021-09-10'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-7', width: '690', height: '1035'},
      title: 'ПРИЧИНЫ ПОИСКА НОВОГО МЕСТА РАБОТЫ.',
      text: 'ПРИЧИНЫ ПОИСКА НОВОГО МЕСТА РАБОТЫ.',
      url: 'post-7.html',
      date: {text: '19 июл. 2020 г.', attr: '2020-07-19'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-8', width: '690', height: '1035'},
      title: 'КАК НАЙТИ СВОЮ РЕАЛИЗАЦИЮ.',
      text: 'КАК НАЙТИ СВОЮ РЕАЛИЗАЦИЮ.',
      url: 'post-8.html',
      date: {text: '17 июл. 2020 г.', attr: '2020-07-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-9', width: '690', height: '1035'},
      title: 'КАК НАЙТИ РАБОТУ.',
      text: 'КАК НАЙТИ РАБОТУ. ПЯТЬ ШАГОВ К УСПЕХУ: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Алгоритм поиска работы; 4. Сайты по...',
      url: 'post-9.html',
      date: {text: '4 июн. 2020 г.', attr: '2020-07-04'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-10', width: '690', height: '862'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ. Новые знания и возможность развиваться делают работу насыщенной, а...',
      url: 'post-10.html',
      date: {text: '4 июн. 2020 г.', attr: '2020-07-04'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-11', width: '1100', height: '1650'},
      title: 'ПОДХОДЫ К СОТРУДНИКАМ.',
      text: 'ПОДХОДЫ К СОТРУДНИКАМ. Есть три подхода к сотрудникам: 1️⃣ Оптический. Работодатели обычно формулируют его так: "Начинайте работать, мы...',
      url: 'post-11.html',
      date: {text: '2 июн. 2020 г.', attr: '2022-06-02'},
      duration: '2 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-12', width: '1080', height: '1620'},
      title: '8 ОТВЕТОВ НА 8 ВОПРОСОВ, КОТОРЫЕ ИЗМЕНЯТ ВАШУ ЖИЗНЬ.',
      text: '8 ОТВЕТОВ НА 8 ВОПРОСОВ, КОТОРЫЕ ИЗМЕНЯТ ВАШУ ЖИЗНЬ. Вопросы - великая вещь. А правильно поставленный вопрос решает массу проблем....',
      url: 'post-12.html',
      date: {text: '1 июн. 2020 г.', attr: '2020-06-01'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-13', width: '1080', height: '1620'},
      title: 'КАК НАЙТИ РАБОТУ.',
      text: 'КАК НАЙТИ РАБОТУ. ПЯТЬ ШАГОВ К УСПЕХУ: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Алгоритм поиска работы; 4. Сайты по...',
      url: 'post-13.html',
      date: {text: '1 июн. 2020 г.', attr: '2022-06-01'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-14', width: '1080', height: '1620'},
      title: 'ОДНО СЛОВО.',
      text: 'ОДНО СЛОВО. Оглядываясь на свою жизнь и понимая, что есть одно слово. ⠀ Уже давно оно бьется о мнения других людей. Оно проверяется...',
      url: 'post-14.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-15', width: '1080', height: '1620'},
      title: 'А ЧТО, ЕСЛИ...',
      text: 'А ЧТО, ЕСЛИ... Несмотря на то, что многие не любили в школе математику, всё равно продолжают в жизни решать уравнения. Создавать и...',
      url: 'post-15.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-16', width: '1080', height: '1620'},
      title: 'КАК НАЙТИ РАБОТУ.',
      text: 'КАК НАЙТИ РАБОТУ. ПЯТЬ ШАГОВ К УСПЕХУ: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Алгоритм поиска работы; 4. Сайты по...',
      url: 'post-16.html',
      date: {text: '31 мая 2020 г.', attr: '2022-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-17', width: '1100', height: '1650'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ',
      text: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ. ⠀ Нежелание брать на себя новые задачи является одной из причин...',
      url: 'post-17.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-18', width: '1100', height: '1650'},
      title: 'ИДЕАЛЬНАЯ РАБОТА.',
      text: 'ИДЕАЛЬНАЯ РАБОТА. А что для Вас идеальная работа? 1) Работа находится с Вашим домом; 2) Рабочий день начинается в 10 (а лучше в 11) и...',
      url: 'post-18.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-19', width: '1080', height: '1620'},
      title: 'ПРОТИВ ТРЕВОГИ',
      text: 'ДВА ЛУЧШИХ СПОСОБА ПОБОРОТЬ ТРЕВОГУ. Пока Вы под властью эмоций, они будут брать над Вами верх и Вы будете жертвой своих же эмоций....',
      url: 'post-19.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-20', width: '1080', height: '1620'},
      title: 'КАК НАЙТИ РАБОТУ.',
      text: 'КАК НАЙТИ РАБОТУ. ПЯТЬ ШАГОВ К УСПЕХУ: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Алгоритм поиска работы; 4. Сайты по...',
      url: 'post-20.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-21', width: '1080', height: '1620'},
      title: 'МОЖНО ЛИ РАБОТАТЬ ПО ДВУМ ТРУДОВЫМ КНИЖКАМ.',
      text: 'МОЖНО ЛИ РАБОТАТЬ ПО ДВУМ ТРУДОВЫМ КНИЖКАМ. Желая больше заработать, некоторые работники заводят сразу две трудовые книжки. Прямого...',
      url: 'post-21.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-22', width: '1080', height: '1620'},
      title: 'ПЕРЕМЕНЫ И СМЕНА СФЕРЫ ДЕЯТЕЛЬНОСТИ.',
      text: 'ПЕРЕМЕНЫ И СМЕНА СФЕРЫ ДЕЯТЕЛЬНОСТИ. Если Вам пришлось или решились сменить профессию, будьте готовы, что уровень зарплаты сильно...',
      url: 'post-22.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-23', width: '1080', height: '1620'},
      title: 'КАК НАЙТИ РАБОТУ.',
      text: 'КАК НАЙТИ РАБОТУ. ПЯТЬ ШАГОВ К УСПЕХУ: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Алгоритм поиска работы; 4. Сайты по...',
      url: 'post-23.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-24', width: '1080', height: '1620'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ',
      text: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ. ⠀ Подъем утром. Невозможность вставания на работу по утрам,...',
      url: 'post-24.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-25', width: '1100', height: '1650'},
      title: 'КАРЬЕРНЫЕ ТРЕКИ.',
      text: 'КАРЬЕРНЫЕ ТРЕКИ. Смею предположить, что в карьерном плане люди, переведенные на удаленку, окажутся в худшем положении, нежели те, кто...',
      url: 'post-25.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-26', width: '1080', height: '1620'},
      title: 'КАК УБИТЬ ЛЕНЬ.',
      text: 'КАК УБИТЬ ЛЕНЬ. Принять её😉 Лень - это просто защитная реакция мозга на работу, в которой он не видит смысла. Лень - сигнал. Она...',
      url: 'post-26.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-27', width: '1080', height: '1620'},
      title: 'КАК НАЙТИ РАБОТУ.',
      text: 'КАК НАЙТИ РАБОТУ. ПЯТЬ ШАГОВ К УСПЕХУ: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Алгоритм поиска работы; 4. Сайты по...',
      url: 'post-27.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-28', width: '1100', height: '1650'},
      title: 'КАК БЫТЬ С ТЕМИ, КТО НЕПРИЯТЕН.',
      text: 'КАК БЫТЬ С ТЕМИ, КТО НЕПРИЯТЕН. Представьте свою жизнь как путешествие на поездах, самолетах, машинах и других видах транспорта. Вы...',
      url: 'post-28.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-29', width: '1080', height: '1620'},
      title: 'ОТВЕТ НА ОТКЛИК РАБОТОДАТЕЛЮ.',
      text: 'ОТВЕТ НА ОТКЛИК РАБОТОДАТЕЛЮ. Поиск новой работы - это обычное, хоть и не самое приятное событие в жизни каждого человека. Рабочее...',
      url: 'post-29.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-30', width: '1080', height: '1620'},
      title: 'КАК НАЙТИ РАБОТУ.',
      text: 'КАК НАЙТИ РАБОТУ. ПЯТЬ ШАГОВ К УСПЕХУ: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Алгоритм поиска работы; 4. Сайты по...',
      url: 'post-30.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-31', width: '1080', height: '1620'},
      title: 'ДИДЖИТЕЛ ЭТИКЕТ.',
      text: 'ДИДЖИТЕЛ ЭТИКЕТ. Если Вам пришлось в сложившееся время проходить онлайн собеседования, то необходимо знать. ⠀ 1️⃣ Соблюдайте опрятный...',
      url: 'post-31.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-32', width: '1080', height: '1620'},
      title: 'БОРЬБА И ОСУЖДЕНИЕ.',
      text: 'БОРЬБА И ОСУЖДЕНИЕ. Страх - это то, что люди поддерживают в себе возможными усилиями. Человеческий ум создал деление на черное и белое,...',
      url: 'post-32.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '2 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-33', width: '1080', height: '1620'},
      title: 'СЕКРЕТЫ ХОРОШЕГО НАСТРОЕНИЯ НА РАБОТЕ.',
      text: 'СЕКРЕТЫ ХОРОШЕГО НАСТРОЕНИЯ НА РАБОТЕ. Нужно научиться улыбаться, несмотря на сонливость или совершенно "неулыбчивое" настроение😉 ⠀...',
      url: 'post-33.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-34', width: '1080', height: '1620'},
      title: 'КАК НАЙТИ РАБОТУ.',
      text: 'КАК НАЙТИ РАБОТУ. ПЯТЬ ШАГОВ К УСПЕХУ: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Алгоритм поиска работы; 4. Сайты по...',
      url: 'post-34.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-35', width: '1080', height: '1620'},
      title: 'ОГРАНИЧЕНИЯ ПРИ ПРИЕМЕ НА РАБОТУ.',
      text: 'ОГРАНИЧЕНИЯ ПРИ ПРИЕМЕ НА РАБОТУ. Нельзя никого ограничивать в реализации его трудовых прав. Согласно ст. 3 Трудового кодекса РФ,...',
      url: 'post-35.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-36', width: '1080', height: '1620'},
      title: 'КРИТЕРИИ ДОБРОСОВЕСТНОГО РАБОТОДАТЕЛЯ.',
      text: 'КРИТЕРИИ ДОБРОСОВЕСТНОГО РАБОТОДАТЕЛЯ. Бывают в жизни такие ситуации, когда человек впервые устраивается на работу или вынужден ее...',
      url: 'post-36.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-37', width: '1080', height: '1620'},
      title: 'КАК НАЙТИ РАБОТУ.',
      text: 'КАК НАЙТИ РАБОТУ. ПЯТЬ ШАГОВ К УСПЕХУ: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Алгоритм поиска работы; 4. Сайты по...',
      url: 'post-37.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-38', width: '110', height: '1650'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ',
      text: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ. Признак - ощущение бесполезности. Те, кто не видят смысла в своей...',
      url: 'post-38.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-39', width: '1080', height: '1620'},
      title: 'ЖАЛОСТЬ VS ЛЮБОВЬ К СЕБЕ.',
      text: 'ЖАЛОСТЬ VS ЛЮБОВЬ К СЕБЕ. Как различить? Эти понятия с виду кажутся похожими. Зачастую люди ошибочно принимают жалость к себе за...',
      url: 'post-39.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-40', width: '1080', height: '1620'},
      title: 'КАК УБРАТЬ СТАРЫЕ ПРИВЫЧКИ.',
      text: 'Привычки прилипчивы как банный лист. Осознаете, что так делать не надо, а тело или язык всё равно повторяет старое. Диссонанс. ⠀ Для...',
      url: 'post-40.html',
      date: {text: '31 мая 2020 г.', attr: '2020-05-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-41', width: '1100', height: '1650'},
      title: 'ЧТО ДЕЛАТЬ В ТРУДНЫХ ОБСТОЯТЕЛЬСТВАХ.',
      text: 'ЧТО ДЕЛАТЬ В ТРУДНЫХ ОБСТОЯТЕЛЬСТВАХ.',
      url: 'post-41.html',
      date: {text: '11 мая 2020 г.', attr: '2020-05-11'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-42', width: '1100', height: '1650'},
      title: 'КАК НАЙТИ РАБОТУ.',
      text: 'КАК НАЙТИ РАБОТУ.',
      url: 'post-42.html',
      date: {text: '11 мая 2020 г.', attr: '2020-05-11'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-43', width: '1100', height: '1650'},
      title: 'ВЕРА В СВОИ СИЛЫ.',
      text: 'Люди не верят в свои силы, потому что на земле существует время. Например, человек задаётся целью. На её осуществление понадобится определён',
      url: 'post-43.html',
      date: {text: '11 мая 2020 г.', attr: '2020-05-11'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-44', width: '1100', height: '1650'},
      title: 'КАК НАЙТИ РАБОТУ.',
      text: 'КАК НАЙТИ РАБОТУ.',
      url: 'post-44.html',
      date: {text: '11 мая 2020 г.', attr: '2020-05-11'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-45', width: '1100', height: '1650'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      url: 'post-45.html',
      date: {text: '11 мая 2020 г.', attr: '2020-05-11'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-46', width: '1100', height: '1650'},
      title: 'ПОВЫШЕНИЕ КВАЛИФИКАЦИИ.',
      text: 'ПОВЫШЕНИЕ КВАЛИФИКАЦИИ.',
      url: 'post-46.html',
      date: {text: '11 мая 2020 г.', attr: '2020-05-11'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-47', width: '1100', height: '1650'},
      title: 'КАК ПРИНЯТЬ РЕШЕНИЕ, ЕСЛИ СОМНЕВАЕТЕСЬ.',
      text: 'КАК ПРИНЯТЬ РЕШЕНИЕ, ЕСЛИ СОМНЕВАЕТЕСЬ.',
      url: 'post-47.html',
      date: {text: '27 апр. 2020 г.', attr: '2020-04-27'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-48', width: '1100', height: '1650'},
      title: 'КАК БЫСТРЕЕ НАЙТИ РАБОТУ.',
      text: 'КАК БЫСТРЕЕ НАЙТИ РАБОТУ.',
      url: 'post-48.html',
      date: {text: '27 апр. 2020 г.', attr: '2020-04-27'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-49', width: '1100', height: '1650'},
      title: 'КАК ПОВЫСИТЬ УРОВЕНЬ НОРМЫ.',
      text: 'КАК ПОВЫСИТЬ УРОВЕНЬ НОРМЫ.',
      url: 'post-49.html',
      date: {text: '27 апр. 2020 г.', attr: '2020-04-27'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-50', width: '1100', height: '1650'},
      title: 'НЕСУЩИЕ ОПОРЫ.',
      text: 'НЕСУЩИЕ ОПОРЫ.',
      url: 'post-50.html',
      date: {text: '27 апр. 2020 г.', attr: '2020-04-27'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-51', width: '1110', height: '1650'},
      title: 'КАК БЫСТРЕЕ НАЙТИ РАБОТУ.',
      text: 'КАК БЫСТРЕЕ НАЙТИ РАБОТУ.',
      url: 'post-51.html',
      date: {text: '27 апр. 2020 г.', attr: '2020-04-27'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-52', width: '1100', height: '1650'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      url: 'post-52.html',
      date: {text: '27 апр. 2020 г.', attr: '2020-04-27'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-53', width: '1100', height: '1650'},
      title: 'КАК ВЕСТИ СЕБЯ С РУКОВОДИТЕЛЕМ-ТИРАНОМ.',
      text: 'КАК ВЕСТИ СЕБЯ С РУКОВОДИТЕЛЕМ-ТИРАНОМ.',
      url: 'post-53.html',
      date: {text: '27 апр. 2020 г.', attr: '2020-04-27'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-54', width: '1100', height: '1650'},
      title: 'ПЕРВАЯ БЕСЕДА С РЕКРУТЕРОМ.',
      text: 'ПЕРВАЯ БЕСЕДА С РЕКРУТЕРОМ.',
      url: 'post-54.html',
      date: {text: '20 апр. 2020 г.', attr: '2020-04-20'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-55', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      url: 'post-55.html',
      date: {text: '20 апр. 2020 г.', attr: '2020-04-20'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-56', width: '1100', height: '1650'},
      title: 'ЧТО ПОМОЖЕТ РАЗВИТЬ ТОЛЕРАНТНОСТЬ К НЕОПРЕДЕЛЕННОСТИ.',
      text: 'ЧТО ПОМОЖЕТ РАЗВИТЬ ТОЛЕРАНТНОСТЬ К НЕОПРЕДЕЛЕННОСТИ.',
      url: 'post-56.html',
      date: {text: '20 апр. 2020 г.', attr: '2020-04-20'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-57', width: '1100', height: '1650'},
      title: 'ВНИМАЙ. СОЗЕРЦАЙ. ИССЛЕДУЙ. ЗАПОМИНАЙ.',
      text: 'ВНИМАЙ. СОЗЕРЦАЙ. ИССЛЕДУЙ. ЗАПОМИНАЙ.',
      url: 'post-57.html',
      date: {text: '20 апр. 2020 г.', attr: '2020-04-20'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-58', width: '1080', height: '1620'},
      title: 'СОБЕСЕДОВАНИЙ. УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'СОБЕСЕДОВАНИЙ. УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      url: 'post-58.html',
      date: {text: '15 апр. 2020 г.', attr: '2020-04-15'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-59', width: '1080', height: '1620'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      url: 'post-59.html',
      date: {text: '15 апр. 2020 г.', attr: '2020-04-15'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-60', width: '1080', height: '1620'},
      title: 'С ЧЕГО НАЧАТЬ САМОРАЗВИТИЕ.',
      text: 'С ЧЕГО НАЧАТЬ САМОРАЗВИТИЕ.',
      url: 'post-60.html',
      date: {text: '13 апр. 2020 г.', attr: '2020-04-13'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-61', width: '1080', height: '1620'},
      title: 'БАЛАНС МЕЖДУ РАБОТОЙ И ДОМОМ.',
      text: 'БАЛАНС МЕЖДУ РАБОТОЙ И ДОМОМ.',
      url: 'post-61.html',
      date: {text: '12 апр. 2020 г.', attr: '2020-04-12'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-62', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      url: 'post-62.html',
      date: {text: '12 апр. 2020 г.', attr: '2020-04-12'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-63', width: '1080', height: '1620'},
      title: 'СИЛЬНЫЕ СТОРОНЫ ЧЕЛОВЕКА В ПРОФЕССИИ.',
      text: 'СИЛЬНЫЕ СТОРОНЫ ЧЕЛОВЕКА В ПРОФЕССИИ.',
      url: 'post-63.html',
      date: {text: '12 апр. 2020 г.', attr: '2020-04-12'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-64', width: '1080', height: '1620'},
      title: 'КОНФЛИКТНОЕ СОСТОЯНИЕ.',
      text: 'КОНФЛИКТНОЕ СОСТОЯНИЕ.',
      url: 'post-64.html',
      date: {text: '12 апр. 2020 г.', attr: '2020-04-12'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-65', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      url: 'post-65.html',
      date: {text: '12 апр. 2020 г.', attr: '2020-04-12'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-66', width: '1080', height: '1620'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      url: 'post-66.html',
      date: {text: '12 апр. 2020 г.', attr: '2020-04-12'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-67', width: '1080', height: '1620'},
      title: 'КАК ПОЛУЧИТЬ ВЫСШЕЕ ОБРАЗОВАНИЕ ДИСТАНЦИОННО.',
      text: 'КАК ПОЛУЧИТЬ ВЫСШЕЕ ОБРАЗОВАНИЕ ДИСТАНЦИОННО.',
      url: 'post-67.html',
      date: {text: '12 апр. 2020 г.', attr: '2020-04-12'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-68', width: '1080', height: '1620'},
      title: 'КАК ПРАВИЛЬНО ИСКАТЬ РАБОТУ ВО ВРЕМЯ КАРАНТИНА.',
      text: 'КАК ПРАВИЛЬНО ИСКАТЬ РАБОТУ ВО ВРЕМЯ КАРАНТИНА.',
      url: 'post-68.html',
      date: {text: '12 апр. 2020 г.', attr: '2020-04-12'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-69', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      url: 'post-69.html',
      date: {text: '12 апр. 2020 г.', attr: '2020-04-12'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-70', width: '1080', height: '1620'},
      title: 'РЕПУТАЦИЯ.',
      text: 'РЕПУТАЦИЯ.',
      url: 'post-70.html',
      date: {text: '12 апр. 2020 г.', attr: '2020-04-12'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-71', width: '1080', height: '1620'},
      title: 'КАК НАЙТИ РАБОТУ В КРИЗИС?',
      text: 'КАК НАЙТИ РАБОТУ В КРИЗИС?',
      url: 'post-71.html',
      date: {text: '12 апр. 2020 г.', attr: '2020-04-12'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-72', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      url: 'post-72.html',
      date: {text: '12 апр. 2020 г.', attr: '2020-04-12'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-73', width: '1080', height: '1620'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      url: 'post-73.html',
      date: {text: '1 апр. 2020 г.', attr: '2020-04-01'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-74', width: '1080', height: '1620'},
      title: 'СОВЕТ ОТ ПРОФЕССИОНАЛА.',
      text: 'СОВЕТ ОТ ПРОФЕССИОНАЛА.',
      url: 'post-74.html',
      date: {text: '1 апр. 2020 г.', attr: '2020-04-01'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-75', width: '1080', height: '1620'},
      title: 'МИР НЕ СТОИТ НА МЕСТЕ.',
      text: 'МИР НЕ СТОИТ НА МЕСТЕ.',
      url: 'post-75.html',
      date: {text: '1 апр. 2020 г.', attr: '2020-04-01'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-76', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      url: 'post-76.html',
      date: {text: '1 апр. 2020 г.', attr: '2020-04-01'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-77', width: '1080', height: '1620'},
      title: 'В ОПИСАНИИ ВАКАНСИИ УКАЗАНО, ЧТО...',
      text: 'В ОПИСАНИИ ВАКАНСИИ УКАЗАНО, ЧТО...',
      url: 'post-77.html',
      date: {text: '1 апр. 2020 г.', attr: '2020-04-01'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-78', width: '1080', height: '1620'},
      title: 'ДОМАШНИЙ РЕЖИМ.',
      text: 'ДОМАШНИЙ РЕЖИМ.',
      url: 'post-78.html',
      date: {text: '1 апр. 2020 г.', attr: '2020-04-01'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-79', width: '1100', height: '1375'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      url: 'post-79.html',
      date: {text: '12 апр. 2020 г.', attr: '2020-04-12'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-80', width: '1080', height: '1620'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      url: 'post-80.html',
      date: {text: '1 апр. 2020 г.', attr: '2020-04-01'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-81', width: '1080', height: '1620'},
      title: 'ДЛЯ ТЕХ, КТО ПЕРЕВЕДЕН НА УДАЛЕННУЮ РАБОТУ.',
      text: 'ДЛЯ ТЕХ, КТО ПЕРЕВЕДЕН НА УДАЛЕННУЮ РАБОТУ.',
      url: 'post-81.html',
      date: {text: '24 мар. 2020 г.', attr: '2020-03-24'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-82', width: '1080', height: '1620'},
      title: 'ПРЕИМУЩЕСТВА РАБОТЫ В ОФИСЕ КОМПАНИИ.',
      text: 'ПРЕИМУЩЕСТВА РАБОТЫ В ОФИСЕ КОМПАНИИ.',
      url: 'post-82.html',
      date: {text: '22 мар. 2020 г.', attr: '2020-03-22'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-83', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      url: 'post-83.html',
      date: {text: '22 мар. 2020 г.', attr: '2020-03-22'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-84', width: '1080', height: '1620'},
      title: 'НОВАЯ СТАТЬЯ ТК РФ.',
      text: 'НОВАЯ СТАТЬЯ ТК РФ.',
      url: 'post-84.html',
      date: {text: '22 мар. 2020 г.', attr: '2020-03-22'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-85', width: '1080', height: '1620'},
      title: 'А ВЫ УМЕЕТЕ ОТЛИЧАТЬ КАЧЕСТВЕННЫЕ CАЙТЫ ПО ПОИСКУ РАБОТЫ ОТ НЕКАЧЕСТВЕННЫХ?',
      text: 'А ВЫ УМЕЕТЕ ОТЛИЧАТЬ КАЧЕСТВЕННЫЕ CАЙТЫ ПО ПОИСКУ РАБОТЫ ОТ НЕКАЧЕСТВЕННЫХ?',
      url: 'post-85.html',
      date: {text: '22 мар. 2020 г.', attr: '2020-03-22'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-86', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      url: 'post-86.html',
      date: {text: '22 мар. 2020 г.', attr: '2020-03-22'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-87', width: '1080', height: '1620'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      url: 'post-87.html',
      date: {text: '22 мар. 2020 г.', attr: '2020-03-22'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-88', width: '1080', height: '1620'},
      title: 'КАНДИДАТ-ЗАГАДКА: "НЕ ЗНАЮ, ЧЕГО ХОЧУ".',
      text: 'КАНДИДАТ-ЗАГАДКА: "НЕ ЗНАЮ, ЧЕГО ХОЧУ".',
      url: 'post-88.html',
      date: {text: '22 мар. 2020 г.', attr: '2020-03-22'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-89', width: '1080', height: '1620'},
      title: 'ДЛЯ ЧЕГО НАМ ВДОХНОВЕНИЕ?',
      text: 'ДЛЯ ЧЕГО НАМ ВДОХНОВЕНИЕ?',
      url: 'post-89.html',
      date: {text: '22 мар. 2020 г.', attr: '2020-03-22'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-90', width: '1080', height: '1620'},
      title: 'РАЗДЕЛЕНИЕ ТРУДА И УРОВНИ УПРАВЛЕНИЯ.',
      text: 'РАЗДЕЛЕНИЕ ТРУДА И УРОВНИ УПРАВЛЕНИЯ.',
      url: 'post-90.html',
      date: {text: '22 мар. 2020 г.', attr: '2020-03-22'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-91', width: '1080', height: '1620'},
      title: 'ПЕРЕСТАНОВКИ НА РАБОТЕ.',
      text: 'ПЕРЕСТАНОВКИ НА РАБОТЕ.',
      url: 'post-91.html',
      date: {text: '22 мар. 2020 г.', attr: '2020-03-22'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-92', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      url: 'post-92.html',
      date: {text: '22 мар. 2020 г.', attr: '2020-03-22'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-93', width: '1080', height: '1620'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'Стоит ли менять работу, если сомневаетесь, что сможете найти что-то лучшее? Стоит! Конечный результат зависит от того, сколько усилий будет',
      url: 'post-9.html',
      date: {text: '11 мар. 2020 г.', attr: '2020-03-11'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-94', width: '1080', height: '1620'},
      title: 'ОБЕД В РАБОЧЕЕ ВРЕМЯ.',
      text: 'Жизнь человека устроена таким образом, что для комфортного существования он вынужден работать. Оплачиваемый труд позволяет тратить заработан',
      url: 'post-94.html',
      date: {text: '11 мар. 2020 г.', attr: '2020-03-11'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-95', width: '1080', height: '1620'},
      title: 'ПРО САМООЦЕНКУ.',
      text: 'Многие уверены, что у них низкая самооценка, поэтому они не могут достигнуть того, чего желают. А ведь воплощение какой-либо цели влечёт за',
      url: 'post-95.html',
      date: {text: '11 мар. 2020 г.', attr: '2020-03-11'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-96', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'Вы получаете: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Дорожную карту Ваших действий по поиску работы; 4. Дополнительные',
      url: 'post-96.html',
      date: {text: '11 мар. 2020 г.', attr: '2020-03-11'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-97', width: '1080', height: '1620'},
      title: 'ПОСЛЕДСТВИЯ КОРПОРАТИВА.',
      text: '1. Откровенно флиртовали с коллегой; 2. Ничего не помните; 3. Выпили лишнего; 4. Устраивали дикие пляски; 5. Подрались с коллегой; 6.',
      url: 'post-97.html',
      date: {text: '11 мар. 2020 г.', attr: '2020-03-11'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-98', width: '1080', height: '1620'},
      title: 'ТЕСТЫ НА СОБЕСЕДОВАНИИ.',
      text: 'Если Вам предлагают выполнить тесты на собеседовании при приеме на работу, некоторые из которых больше похожи на недоделанную работу или что',
      url: 'post-98.html',
      date: {text: '11 мар. 2020 г.', attr: '2020-03-11'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-99', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'Вы получаете: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Дорожную карту Ваших действий по поиску работы; 4. Дополнительные',
      url: 'post-99.html',
      date: {text: '5 мар. 2020 г.', attr: '2020-03-05'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-100', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'Вы получаете: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Дорожную карту Ваших действий по поиску работы; 4. Дополнительные',
      url: 'post-100.html',
      date: {text: '5 мар. 2020 г.', attr: '2020-03-05'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-101', width: '1080', height: '1620'},
      title: 'ПОЧЕМУ СТАНДАРТНАЯ РАБОЧАЯ НЕДЕЛЯ СОСТАВЛЯЕТ 40 ЧАСОВ?',
      text: 'В 1922 году Генри Форд решил сократить рабочую неделю до 40 часов, чтобы у работников появилось свободное время и они тратили больше денег.',
      url: 'post-101.html',
      date: {text: '5 мар. 2020 г.', attr: '2020-03-05'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-102', width: '1080', height: '1620'},
      title: '8 СОВЕТОВ, ЧТОБЫ РАБОТА ПРИНОСИЛА УДОВОЛЬСТВИЕ И РАДОСТЬ.',
      text: '1.Подъем на позитиве; 2.Ободряющее начало дня; 3.Правильный настрой и мотивация; 4.Улыбка способна творить чудеса; 5.Расстановка приорит',
      url: 'post-102.html',
      date: {text: '2 мар. 2020 г.', attr: '2020-03-02'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-103', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'Вы получаете: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Дорожную карту Ваших действий по поиску работы; 4. Дополнительные',
      url: 'post-103.html',
      date: {text: '2 мар. 2020 г.', attr: '2020-03-02'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-104', width: '1080', height: '1620'},
      title: 'СТРУКТУРА ТРУДОВЫХ РЕСУРСОВ ПО ВОЗРАСТУ.',
      text: 'Возрастная структура занятых представляет собой соотношение отдельных неодинаковых возрастных групп в общей численности работающих. Выделяют',
      url: 'post-104.html',
      date: {text: '2 мар. 2020 г.', attr: '2020-03-02'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-105', width: '1080', height: '1620'},
      title: 'ЕСЛИ НЕ ПОВЫШАЮТ ЗАРПЛАТУ.',
      text: 'Одним из основных вопросов, который возникает на работе - это вопрос о зарплате. Как грамотно и правильно попросить у начальника об увеличен',
      url: 'post-105.html',
      date: {text: '2 мар. 2020 г.', attr: '2020-03-02'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-106', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'Вы получаете: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Дорожную карту Ваших действий по поиску работы; 4. Дополнительные',
      url: 'post-106.html',
      date: {text: '2 мар. 2020 г.', attr: '2020-03-02'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-107', width: '1080', height: '1620'},
      title: 'РУБРИКА НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА НЕЛЮБИМУЮ РАБОТУ.',
      text: 'Есть ли среди Ваших коллег те, кого постоянно продвигают по служебной лестнице, а Вас как будто не замечают? Это не только раздражает, но и',
      url: 'post-107.html',
      date: {text: '26 февр. 2020 г.', attr: '2020-02-26'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-108', width: '1080', height: '1620'},
      title: 'ПОДАРКИ КОЛЛЕГАМ.',
      text: 'Хотим того или нет, но трудовые будни, так или иначе, заставляют нас сближаться с коллегами. Это заставляет нас принимать участие в личной ж',
      url: 'post-108.html',
      date: {text: '26 февр. 2020 г.', attr: '2020-02-26'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-109', width: '1080', height: '1620'},
      title: 'КОРПОРАТИВНАЯ ЭТИКА НА РАБОТЕ.',
      text: 'Корпоративная этика очень глубоко проникли уже в нашу деловую культуру и теперь считается неприличным не поучаствовать в общих корпоративных',
      url: 'post-109.html',
      date: {text: '24 февр. 2020 г.', attr: '2020-02-24'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-110', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'Вы получаете: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Дорожную карту Ваших действий по поиску работы; 4. Дополнительные',
      url: 'post-110.html',
      date: {text: '24 февр. 2020 г.', attr: '2020-02-24'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-111', width: '1080', height: '1620'},
      title: 'КАК ПОНЯТЬ,ЧТО ПОРА МЕНЯТЬ РАБОТУ?',
      text: 'У работодателей складывается определённое мнение о людях, которые с ними сотрудничают, как о "старожилах", так и о "перебежчиках". Отношение',
      url: 'post-111.html',
      date: {text: '24 февр. 2020 г.', attr: '2020-02-24'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-112', width: '1080', height: '1620'},
      title: 'ЖИЗНЬ ВНЕ РАБОТЫ.',
      text: 'Люди часто не имеют возможности влиять на факторы, которые определяют качество их жизни и их участие в работе организации или всего общества',
      url: 'post-112.html',
      date: {text: '24 февр. 2020 г.', attr: '2020-02-24'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-113', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'Вы получаете: 1. Профессиональное резюме; 2. Сопроводительные письма; 3. Дорожную карту Ваших действий по поиску работы; 4. Дополнительные',
      url: 'post-113.html',
      date: {text: '24 февр. 2020 г.', attr: '2020-02-24'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-114', width: '1080', height: '1620'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'Вы не видите будущего. Каждая работа должна куда-то Вас вести. Лучше всего, к повышению, или хотя бы к возможности научиться чему-то новому',
      url: 'post-114.html',
      date: {text: '24 февр. 2020 г.', attr: '2020-02-24'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-115', width: '1080', height: '1620'},
      title: 'НЕОБХОДИМЫЙ ОПЫТ.',
      text: 'Начальное звено. Это самая массовая категория, к ней можно отнести сотрудников call-центров, продавцов-консультантов, водителей, рабочих. В',
      url: 'post-115.html',
      date: {text: '18 февр. 2020 г.', attr: '2020-02-18'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-116', width: '1080', height: '1620'},
      title: 'OPEN SPACE. МИНУСЫ ДЛЯ РАБОТЫ.',
      text: 'Личное пространство. Оно должно быть, иначе прощай продуктивность. Если Ваш офис напоминает тебе индийский автобус, куда вмещается нескольк',
      url: 'post-116.html',
      date: {text: '17 февр. 2020 г.', attr: '2020-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-117', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'Вы получаете: 1. Профессиональное резюме (3-4 страницы); 2. Сопроводительные письма; 3. Дорожную карту Ваших действий по поиску работы; 4.',
      url: 'post-117.html',
      date: {text: '24 февр. 2020 г.', attr: '2020-02-24'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-118', width: '1080', height: '1620'},
      title: 'НА ЧТО ОБРАЩАТЬ ВНИМАНИЕ ПРИ ПОИСКЕ РАБОТЫ.',
      text: 'Карьера займет важную часть Вашей жизни как по времени, так и по значимости. Для многих людей работа - это вообще смысл всего существования,',
      url: 'post-118.html',
      date: {text: '17 февр. 2020 г.', attr: '2020-02-17'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-119', width: '1080', height: '1620'},
      title: 'ВАХТА.',
      text: 'В России большое количество людей работает вахтовым методом, причем подавляющее большинство из них мужчины. В этом нет ничего удивительного,',
      url: 'post-119.html',
      date: {text: '14 февр. 2020 г.', attr: '2020-02-14'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-120', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'В составе услуги Вы получаете:  1. Профессиональное резюме (3-4 страницы); 2. Сопроводительные письма; 3. Дорожную карту Ваших действий по',
      url: 'post-120.html',
      date: {text: '14 февр. 2020 г.', attr: '2020-02-14'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-121', width: '1080', height: '1620'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'Ранний подъем. Если для того чтобы проснуться ранним утром на работу, Вам требуется несколько будильников, то стоит задуматься, а нужно ли',
      url: 'post-121.html',
      date: {text: '11 февр. 2020 г.', attr: '2020-02-11'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-122', width: '1080', height: '1620'},
      title: 'ГДЕ ВЗЯТЬ СИЛЫ И ЭНЕРГИЮ ДЛЯ ЖИЗНИ?',
      text: 'Жизнь сложна, безусловно. Каждый день приходится решать много проблем. Одни преодолевают их и идут дальше, пусть дается это тяжело. А другие',
      url: 'post-122.html',
      date: {text: '11 февр. 2020 г.', attr: '2020-02-11'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-123', width: '1080', height: '1620'},
      title: 'НА ЧТО ОБРАЩАТЬ ВНИМАНИЕ В ТРУДОВОМ ДОГОВОРЕ.',
      text: 'Оплата труда. Нужно отметить, что одним из самых главных факторов в принятии решения относительно работы для человека является размер зарабо',
      url: 'post-123.html',
      date: {text: '10 февр. 2020 г.', attr: '2020-02-10'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-124', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'Вы получаете: 1. ПРОДАЮЩЕЕ Ваши профессиональные качества и навыки РЕЗЮМЕ; 2. ЭКОНОМИЮ ВРЕМЕНИ на составление резюме и поиск работы; 3. Ум',
      url: 'post-124.html',
      date: {text: '10 февр. 2020 г.', attr: '2020-02-10'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-125', width: '1080', height: '1620'},
      title: '6 КНИГ О ЛЮДЯХ, ЧЬЯ ИСТОРИЯ ЗАПОМНИТСЯ НАДОЛГО.',
      text: 'Сделал подборку мемуаров, от которых Вы не сможете оторваться. . "Крутой маршрут. Хроника времён культа личности", Евгения Гинзбург. В свое',
      url: 'post-125.html',
      date: {text: '10 февр. 2020 г.', attr: '2020-02-10'},
      duration: '2 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-126', width: '1080', height: '1620'},
      title: 'НУЖНО ЛИ МЕНЯТЬ ПРОФЕССИЮ?',
      text: 'Одно дело - уйти с одного места работы на другое и там козырять своим опытом и рабочими навыками, наработанными годами. И совсем другое - уй',
      url: 'post-126.html',
      date: {text: '7 февр. 2020 г.', attr: '2020-02-07'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-127', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'Вы получаете: 1. ПРОДАЮЩЕЕ Ваши профессиональные качества и навыки РЕЗЮМЕ; 2. ЭКОНОМИЮ ВРЕМЕНИ на составление резюме и поиск работы; 3. Ум',
      url: 'post-127.html',
      date: {text: '5 февр. 2020 г.', attr: '2020-02-05'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-128', width: '1080', height: '1620'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'Признаки для смены работы у всех разные: - По утрам нет никакого желания отправляться на работу; - Долгая подготовка к работе. Делаете всё,',
      url: 'post-128.html',
      date: {text: '5 февр. 2020 г.', attr: '2020-02-05'},
      duration: '1 мин.',
      category: 'reasons'
    },
    {
      image: {name: 'post-preview-129', width: '1080', height: '1620'},
      title: 'КАК ПОПРОСИТЬ ПРЕМИЮ У ДИРЕКТОРА.',
      text: 'Для получения прибавки к зарплате подготовьтесь морально, продумайте удачные аргументы, выберите удобный момент и место для переговоров. Пок',
      url: 'post-129.html',
      date: {text: '5 февр. 2020 г.', attr: '2020-02-05'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-130', width: '1080', height: '1620'},
      title: 'КАК НАСТРОИТЬ СЕБЯ НА РАБОЧУЮ НЕДЕЛЮ.',
      text: 'Начала рабочей недели мало кто ждет с нетерпением, исторически сложилось так, что понедельник воспринимается исключительно тяжелым днем. Воз',
      url: 'post-130.html',
      date: {text: '5 февр. 2020 г.', attr: '2020-02-05'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-131', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'Вы получаете:  1. ПРОДАЮЩЕЕ Ваши профессиональные качества и навыки РЕЗЮМЕ;  2. ЭКОНОМИЮ ВРЕМЕНИ на составление резюме и поиск работы; 3. Ум',
      url: 'post-131.html',
      date: {text: '5 февр. 2020 г.', attr: '2020-02-05'},
      duration: '1 мин.',
      category: 'la'
    },
    {
      image: {name: 'post-preview-132', width: '1080', height: '1620'},
      title: 'ПОЧЕМУ ТАК ТРУДНО НАЙТИ РАБОТУ.',
      text: 'Многие люди сталкиваются с трудностями в поиске хорошей работы не только в период кризиса, но и в благоприятное, спокойное время. С такими',
      url: 'post-132.html',
      date: {text: '5 февр. 2020 г.', attr: '2020-02-05'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-133', width: '1080', height: '1620'},
      title: 'СМЕНА РАБОТЫ.',
      text: 'Любой человек рано или поздно задумывается о смене места работы. Перед ним возникает масса вопросов, на которые он ищет ответы. Люди считают',
      url: 'post-133.html',
      date: {text: '31 янв. 2020 г.', attr: '2020-01-31'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-134', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'Вы получаете: 1. ПРОДАЮЩЕЕ Ваши профессиональные качества и навыки РЕЗЮМЕ; 2. ЭКОНОМИЮ ВРЕМЕНИ на составление резюме и поиск работы; 3. Ум',
      url: 'post-134.html',
      date: {text: '30 янв. 2020 г.', attr: '2020-01-30'},
      duration: '1 мин.',
      category: 'la'
    },
    {
      image: {name: 'post-preview-135', width: '1080', height: '1620'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'Еще одна причина, о которой часто задумываются. Вы думаете, что не можете делать ничего другого. А это самая лучшая причина уволиться с ра',
      url: 'post-135.html',
      date: {text: '29 янв. 2020 г.', attr: '2020-01-29'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-136', width: '1080', height: '1620'},
      title: 'КОГДА ВЫ НА РАБОТЕ НОВЕНЬКИЙ.',
      text: 'Успехи на работе лишь отчасти зависят от нашего профессионализма и целеустремленности - огромное значение также имеет взаимоотношения с колл',
      url: 'post-136.html',
      date: {text: '29 янв. 2020 г.', attr: '2020-01-29'},
      duration: '2 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-137', width: '1080', height: '1620'},
      title: 'КАК ПОПАСТЬ НА РАБОТУ В ПРАВИТЕЛЬСТВО РОССИИ.',
      text: 'Всем известно, чтобы получить ту или иную работу, Вам нужно удачно пройти собеседование у непосредственного работодателя. Правил поведения,',
      url: 'post-137.html',
      date: {text: '29 янв. 2020 г.', attr: '2020-01-29'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-138', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'Вы получаете: 1. ПРОДАЮЩЕЕ Ваши профессиональные качества и навыки РЕЗЮМЕ; 2. ЭКОНОМИЮ ВРЕМЕНИ на составление резюме и поиск работы; 3. Ум',
      url: 'post-138.html',
      date: {text: '29 янв. 2020 г.', attr: '2020-01-29'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-139', width: '1080', height: '1620'},
      title: 'ВЛАДЕНИЕ ИНФОРМАЦИЕЙ И СПОКОЙСТВИЕМ.',
      text: 'Личные качества - это ключ к успеху. Нужно обладать такими качествами, как самообладание, стрессоустойчивость, борьба с неудобствами (выход',
      url: 'post-139.html',
      date: {text: '29 янв. 2020 г.', attr: '2020-01-29'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-140', width: '1080', height: '1620'},
      title: 'РАЗНИЦА В МОТИВАЦИИ ПОКОЛЕНИЙ.',
      text: 'По возрастным группам заметны следующие особенности: возможность работать из дома и удобный график, похвала и признание важнее всего для сам',
      url: 'post-140.html',
      date: {text: '23 янв. 2020 г.', attr: '2020-01-23'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-141', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'Вы получаете: 1. ПРОДАЮЩЕЕ Ваши профессиональные качества и навыки РЕЗЮМЕ; 2. ЭКОНОМИЮ ВРЕМЕНИ на составление резюме и поиск работы; 3. Ум',
      url: 'post-141.html',
      date: {text: '23 янв. 2020 г.', attr: '2020-01-23'},
      duration: '1 мин.',
      category: 'la'
    },
    {
      image: {name: 'post-preview-142', width: '1080', height: '1620'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: 'Еще одним звоночком будет для Вас обстоятельство, когда Вы ни грамма не взволнованы, идя с утра на работу Каждая работа иногда утомляет и р',
      url: 'post-142.html',
      date: {text: '23 янв. 2020 г.', attr: '2020-01-23'},
      duration: '1 мин.',
      category: 'reasons'
    },
    {
      image: {name: 'post-preview-143', width: '1080', height: '1620'},
      title: 'МАЛЕНЬКИЕ РАДОСТИ.',
      text: 'Без них тоже никак не обойтись, если не нравится текущая работа. Можно радовать себя каждый день! Это просто! Чашка кофе (и не одна), спор',
      url: 'post-143.html',
      date: {text: '23 янв. 2020 г.', attr: '2020-01-23'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-144', width: '1080', height: '1620'},
      title: 'ПЕРЕМЕНЫ',
      text: 'Если что-то не нравится - не нужно это терпеть. Жизнь слишком коротка и прекрасна, чтобы тратить её на стресс и недовольство. Однако многие',
      url: 'post-144.html',
      date: {text: '20 янв. 2020 г.', attr: '2020-01-20'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-145', width: '1080', height: '1620'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'Вы получаете:  1. ПРОДАЮЩЕЕ Ваши профессиональные качества и навыки РЕЗЮМЕ;  2. ЭКОНОМИЮ ВРЕМЕНИ на составление резюме и поиск работы; 3. Ум',
      url: 'post-145.html',
      date: {text: '20 янв. 2020 г.', attr: '2020-01-20'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-146', width: '1080', height: '1620'},
      title: 'ЧТО ДЕЛАТЬ, КОГДА ВСЁ СЛОЖНО?',
      text: 'Суть каждой книги по саморазвитию можно уложить в одно предложение, отражающее всю простоту решения кажущейся проблемы. Но одно предложение.',
      url: 'post-146.html',
      date: {text: '20 янв. 2020 г.', attr: '2020-01-20'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-147', width: '1080', height: '1620'},
      title: 'КАК ПРОХОДИТЬ СТРЕСС-СОБЕСЕДОВАНИЯ.',
      text: 'К сожалению, ни анкеты, ни резюме, ни даже традиционная личная беседа не дают работодателю возможности полностью оценить умения и характер к',
      url: 'post-147.html',
      date: {text: '16 янв. 2020 г.', attr: '2020-01-16'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-148', width: '853', height: '1066'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'Вы получаете: 1. ПРОДАЮЩЕЕ Ваши профессиональные качества и навыки РЕЗЮМЕ; 2. ЭКОНОМИЮ ВРЕМЕНИ на составление резюме и поиск работы; 3.',
      url: 'post-148.html',
      date: {text: '16 янв. 2020 г.', attr: '2020-01-16'},
      duration: '1 мин.',
      category: 'la'
    },
    {
      image: {name: 'post-preview-149', width: '1100', height: '734'},
      title: 'ПРОДОЛЖАЮ РУБРИКУ НЕУБЕДИТЕЛЬНЫХ ПРИЧИН ДЕРЖАТЬСЯ ЗА ПЛОХУЮ РАБОТУ.',
      text: '“Жизнь слишком коротка”. Она слишком коротка, чтобы каждый день возвращаться домой с чувством неполноценности, работать на ужасного босса...',
      url: 'post-149.html',
      date: {text: '16 янв. 2020 г.', attr: '2020-01-16'},
      duration: '1 мин.',
      category: 'reasons'
    },
    {
      image: {name: 'post-preview-150', width: '853', height: '1066'},
      title: 'УЛОВКИ НА ПРОВЕРКУ КАНДИДАТОВ.',
      text: 'УЛОВКИ НА ПРОВЕРКУ КАНДИДАТОВ. И так что же еще может придумать для проверки кандидата? Работодатель знакомит Вас с коллективом.',
      url: 'post-150.html',
      date: {text: '15 янв. 2020 г.', attr: '2020-01-15'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-151', width: '1100', height: '1375'},
      title: 'КАК СОТРУДНИКАМ ПРИЙТИ В СЕБЯ ПОСЛЕ ПРАЗДНИКОВ И НАЧАТЬ РАБОТАТЬ?',
      text: 'КАК СОТРУДНИКАМ ПРИЙТИ В СЕБЯ ПОСЛЕ ПРАЗДНИКОВ И НАЧАТЬ РАБОТАТЬ? В первую очередь поздравьте себя с тем, что работа у Вас есть и волна..',
      url: 'post-151.html',
      date: {text: '14 янв. 2020 г.', attr: '2020-01-14'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-152', width: '1100', height: '733'},
      title: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      text: 'УСЛУГА ПО СОСТАВЛЕНИЮ РЕЗЮМЕ, ПОИСКУ РАБОТЫ И ПРОХОЖДЕНИЮ СОБЕСЕДОВАНИЙ.',
      url: 'post-152.html',
      date: {text: '14 янв. 2020 г.', attr: '2020-01-14'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-153', width: '1100', height: '825'},
      title: 'ОБЗОР РЫНКА ТРУДА.',
      text: 'ОБЗОР РЫНКА ТРУДА. Январь обычно становится точкой отсчета годовой активности, дальнейшие месяцы сравниваются по показателям с январем.',
      url: 'post-153.html',
      date: {text: '13 янв. 2020 г.', attr: '2020-01-13'},
      duration: '1 мин.',
      category: null
    },
    {
      image: {name: 'post-preview-154', width: '1100', height: '1467'},
      title: 'ПРАЗДНИКИ ПРОШЛИ.',
      text: 'ПРАЗДНИКИ ПРОШЛИ. И если Вы в поисках работы, пора начинать активно искать работу. Сам работодатель редко звонит соискателю.',
      url: 'post-154.html',
      date: {text: '15 янв. 2020 г.', attr: '2020-01-15'},
      duration: '1 мин.',
      category: null
    }
  ];
